/*Style sheet for the application pagess*/
/*This may not work for internet explorer, the colors*/
:root {
    --darkblue: #13467D;
    --lightblue: #55A1D3;
    --orange: #F27B1F;
    --yellow: #F9B316;
    --gray: #999999;
}

select {
    background-color: var(--darkblue);
    color: white;
    background: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
    width: 50%;
    height: 6vh;
    border: none;
    border-bottom-style: dashed;
    border-bottom-color: #FFF;
}

html,body {
    font-family: Montserrat;
    font-style: normal;
    overflow-x: hidden; 
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: var(--darkblue);
    margin:0;
    padding:0;
}
/*Keep floating contents inside respective parents*/
div{
    position: relative;
    overflow-x: hidden;
}
/*Set up font sizes*/
h1 {
    font-size: max(5.9vw, 30px);
    margin-bottom:1px;
    margin-top: 0px;
    font-family: Montserrat;
    font-weight: 400
}
.yellow{
    color: var(--yellow)
}
h2 {
    font-size: max(5.5vw, 24px);
}
h3 {
    font-size: max(5vw, 18px);
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: 400
}
h6:before,
h6:after {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h6:before {
    right: 0.5em;
    margin-left: -50%;
}
h6:after {
    left: 0.5em;
    margin-right: -50%;
}

p {
    font-size: max(3.8vw, 16px);
    padding:0;
    margin:0;
}


.preview {
    margin: auto;
    width:84%;
    font-family: Montserrat;
    font-size: 3.2vh;
    color: white;
    padding: 3.5vh;
    background-color: var(--darkblue);
    border: 1px solid white;
    border-radius: 2vh;
    color:white;
    height: auto;
    font-size: max(3.8vw, 16px);
    font-weight: 700;
}

/*Keep things in rows*/
.row{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    align-items: center;
    
}

.nav{
    
    display:flex;
    justify-content: space-between;
    width: 90%;
    padding: 5% 5%;

}
.content {
    margin:5vw;
    height:70vh;
}
button {
    background-color: var(--lightblue);
    border-radius: 3vh;
    padding: 5px 40px;
    border:none;
    outline: none;
    box-shadow: none;
    color:white;
    height: 6vh;
    font-size: max(3.8vw, 16px);
    font-weight: 700;
    width:85%;
}

.buttonCheck{
    width:100%;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 3.2vh;
    color: white;
    padding: 3vh;
    
}

.checklabel{
    display: flex;
    width: 100%;
    border-radius: 3vh;
    overflow: hidden;
    background-color:rgba(255,255,255,0.15);
    align-items: center;
    margin-top: 4vh;
    cursor: pointer;
}
.checklabel::before{
    background-color:rgba(255,255,255,0.15);
    color: white;
}

input:checked+label {
    background-color: white;
}


.footer{
    display: flex;
    justify-content: center;
    /*These two lines made the button stick to the bottom*/
    position: fixed;
    bottom: 0;
    width:90%;
    height:12vh;
}
/*TODO: Do we want to make the link highlights disappear?*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


/*ALL THINGS BELOW ARE FOR INPUTS*/
.input{
    position: relative;
    padding: 20px 0px;
    /*need height to be 100%*/
}
input{
    font-size: 16px;
    padding:5px;
    font-weight: 700;
    display:block;
    border:none;
    color:var(--yellow);
    background-color: var(--darkblue);
    border-bottom:1px solid white;
}
input:focus { outline:none; }
.labelword{
    color:white;
    font-size: 12px;
}
.label{
    /*This pushed the words away*/
    position:absolute;
    color:white;
    font-size: 12px;
    left:5px;
    top:20px;
    pointer-events: none;
    transition:0.2s ease-in-out; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    
}
  
input.fill:focus ~ label, input.fill:valid ~ label {
    transform:translateY(-20px);
  }

.spaceAround{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
    
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.buttonFileUpload {
    margin: auto;
    width:100%;
    font-family: Montserrat;
    font-size: 3.2vh;
    color: white;
    padding: 3.5vh;
    background-color: var(--darkblue);
    border: 1px solid white;
    border-radius: 2vh;
    color:white;
    height: auto;
    font-size: max(3.8vw, 16px);
    font-weight: 700;
    
}
