mobileVers/mobileVers/settings/__pycache__/local.cpython-38.pyc
mobileVers/mobileVers/settings/__pycache__/local.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
mobileVers/mobileVers/settings/__pycache__/local.cpython-38.pyc
mobileVers/mobileVers/db.sqlite3
