<!-- This brings in the CSS-->

{% extends "application/layout.html" %}

{% block body %}

<!--Get the various stylesheets I need like my fonts and CSS-->

<div class="margin-top: 2vh;">
    <!--NOTE: For the future have numbers change based on database-->
    <br>
    <br>
    
    <h1 style="color:white"><b>We sent you an email!</b></h1>
    <br>
    <br>
    <p style="color:white">Check the email at {{program_string}}.</p>
    <p style="color:white">Be sure to check your spam folder!</p>
    <br>
    <p style="color:white">Didn't get an email from us?</p>
    
    <br>

    <u class=yellow style=>Well, too bad!</u></b>
        <!--Whatever I need in the other pages, I can enter it here-->

    <div class="footer">
        <button onclick="location.href='{% url 'dashboard:index' %}'"> CONTINUE </button>


</div>

{% endblock %}




