<!-- This brings in the CSS-->
{% extends "dashboard/layout_dashboard.html" %}
{% load static %}

{% block body %}
<div class="content">
  <div class=fadeLarge>
  <!--Program number blocks - information section-->
    <div class="row">
      <div class="module" style="margin-left: 0;margin-right:1.5vw;padding: 1vw ;">
          
          <!--CSV HERE-->
          <hprogram style = "color: var(--darkblue)"> 02 </hprogram>
          <h3 style = "font-weight: 400; margin: 0; ">Programs Active </h3>
          
      </div>
      <div class="module" style="margin-left: 1.5vw;margin-right:0;padding: 1vw ;">
          
          <!--CSV HERE-->
          <hprogram style = "color: var(--yellow)"> 02 </hprogram>
          <h3 style = "font-weight: 400; margin: 0;">Pending Approval </h3>
      </div>
    </div>
    <div class="row">
    <a style="color:var(--white); font-weight: 800; text-decoration: none;" href="{% url 'dashboard:qualifiedPrograms' %}">
      <div class="module" style="padding: 1vw ;margin:0 5vw;">
        <div class="row" style="align-items: center;">
            <!--CSV HERE-->
            <hprogram style = "color: #4CAD00;margin:0"> 02 </hprogram>
            <h3 style = "font-weight: 400; margin: 0 0 0 5vw ;" >Programs You May Qualify For </h3>
        </div>
      </div>
    </a>
    </div>

    <div class="module" >
      <p style = "color: #999999">Upcoming Program Updates </p>

    <!--CSV HERE / Also template for printing out all updates-->
      <div>
          <p style="font-weight: 550;margin-bottom:0">Program Benefits Come in Effect </p>
          <div class="row" style="margin:0;">
              <p style = "margin-top:0;"> Grocery Rebate </p>
              <p style = "color:#999999;margin-top:0;" >07/19/21 </p>
          </div>
      </div>
      <div>
          <p style="font-weight: 550;margin-bottom:0">Program Benefits Come in Effect </p>
          <div class="row" style="margin:0;">
              <p style = "margin-top:0;"> Grocery Rebate </p>
              <p style = "color:#999999;margin-top:0;" >07/19/21 </p>
          </div>
      </div>


    </div>
    <div class="module" >
      <p style = "color: #999999">City News  </p>

    <!--CSV HERE / Also template for printing out all updates-->
      <div>
        <p style = "margin-bottom:0;"> The Coloradoan </p>
        <p style="font-weight: 550; margin: 5px 0">Its application season: new rounds of applications begin this week. </p>
        <p style = "color:#999999;margin-top:0;" >4 days ago</p>
      </div>

      <div>
        <p style = "margin-bottom:0;"> The Coloradoan </p>
        <p style="font-weight: 550; margin: 5px 0">Its application season: new rounds of applications begin this week. </p>
        <p style = "color:#999999;margin-top:0;" >4 days ago</p>
      </div>
  </div>
</div>

<div class="fadeSmall">
  <div class="container">
    <div class="item thin">
      <a style="color:var(--white); font-weight: 800; text-decoration: none;" href="{% url 'dashboard:qualifiedPrograms' %}">
        <!--CSV HERE-->
        <hprogram style = "color: #4CAD00;margin:0"> {{QProgramNumber}} </hprogram>
      </a>
      <p style = "font-weight: 400; padding-left: 15px;">Programs You May Qualify For </p>
      <button class="button button2" id="toggle-button1"><img src="{% static 'dashboard/images/downArrow.svg' %}" style="position: absolute; bottom: 10px;right: 10px;"> </button>
    </div>
    
    <div class="item collapsible qualifyfor">
      <div style="display:{{GRDisplay}}">
        <div class = "row" style="margin:0; width:100%">
            <div style="margin:0">
                <p style ="font-weight: 400; margin: 0">Grocery Tax Rebate </p>
            </div>
            {% if  GRPreQualification  == "CallUs" %}
                <a href="{% url 'application:callUs' %}" style="text-decoration: none;"> <div class="quickapply link"  style="background-color: {{GRButtonColor}}; color: {{GRButtonTextColor}}; font-size: 13px; height:20px;">{{ GRButtonText }}</div></a>
            {% else %}
                <a href="{% url 'application:GRQuickApply' %}" style="text-decoration: none; text-align: center;"> <div class="quickapply link"  style="background-color: {{GRButtonColor}}; color: {{GRButtonTextColor}}; font-size: 13px; height:20px;">{{ GRButtonText }}</div></a>
            {% endif %}
        </div>
        <div class = "row" style="margin:0;width:100%">
            <a class="row" href="https://www.fcgov.com/rebate/" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
                <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> Learn More </p>
                <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 1vw; margin-left: 5px;color:black">
            </a>
            <p style = "color:#999999;margin-top:0;text-align: right; font-size:15px;" >Apply by October 31st</p>
        </div>
      </div>

      <div style="display:{{RECDisplay}};">
        <div class="divider"></div>
        <div class = "row" style="margin:0; width:100%">
          <div style="margin:0">
              <p style ="font-weight: 400; margin: 0">Recreation Reduced Fee </p>
          </div>
          <a href="{% url 'application:moreInfoNeeded' %}" style="text-decoration: none;"> <div class="quickapply link" style="background-color: {{RECButtonColor}}; color: {{RECButtonTextColor}}; font-size: 13px; height:20px;">{{ RECButtonText }}</div></a> 
        </div>
        <div class = "row" style="margin:0;width:100%">
            <a class="row" href="https://www.fcgov.com/recreation/reducedfeeprogram" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
                <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> Learn More </p>
                <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 1vw; margin-left: 5px;color:black">
            </a>
        </div>
      </div>
    </div>

    <div class="item thin" >
      <!--CSV HERE-->
      <hprogram style = "color: var(--darkblue)"> {{PendingNumber}} </hprogram>
      <p style = "font-weight: 400; padding-left: 20px; ">Pending Approval</p>
      <button class="button button2" id="toggle-button"><img src="{% static 'dashboard/images/downArrow.svg' %}" style="position: absolute; bottom: 10px;right: 10px;"> </button>
    </div>
    <div class="item collapsible pending">
      <div style="display: {{GRDisplayPending}}">
        <div class = "row" style="margin:0; width:100%">
            <div style="margin:0">
                <p style ="font-weight: 400; margin: 0">Grocery Tax Rebate </p>
            </div>
        </div>
        <div class = "row" style="margin:0;width:100%">
          <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> {{GRPendingDate}} </p>
        </div>
      </div>
      <div style="display:{{RECDisplayPending}};">
        <div class="divider"></div>
        <div class = "row" style="margin:0; width:100%">
          <div style="margin:0">
              <p style ="font-weight: 400; margin: 0">Recreation Reduced Fee </p>
          </div>
        </div>
        <div class = "row" style="margin:0;width:100%">
          <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> {{RECPendingDate}} </p>
        </div>
      </div>
    </div>

    <div class="item thin" >
        <!--CSV HERE-->
        <hprogram style = "color: var(--darkblue)"> {{ActiveNumber}} </hprogram>
        <p style = "font-weight: 400; padding-left: 20px; ">Programs Active </p> <button class="button button2" onclick="myFunction()"><img src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px);"></button>
        <button class="button button2" id="toggle-button2"><img src="{% static 'dashboard/images/downArrow.svg' %}" style="position: absolute; bottom: 10px;right: 10px;"> </button>
    </div>
    <div class="item collapsible active">

      <div id="myDIV">
        <p style="font-size: 15px;">Once your information is reviewed by the Get: FoCo team, you will find the programs you are approved for here! Checkback as it gets closer to your application's estimated date and be sure to check your email for communication from us.</p>
      </div>

      <div style="display:{{GRDisplayActive}}">
        <div class = "row" style="margin:0; width:100%">
            <div style="margin:0">
                <p style ="font-weight: 400; margin: 0">Grocery Tax Rebate </p>
            </div>
        </div>
        <div class = "row" style="margin:0;width:100%">
            <a class="row" href="https://www.fcgov.com/rebate/" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
                <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> Learn More </p>
                <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 1vw; margin-left: 5px;color:black">
            </a>
        </div>
      </div>
      <div style="display:{{RECDisplayActive}};">
        <div class="divider"></div>
        <div class = "row" style="margin:0; width:100%">
          <div style="margin:0">
              <p style ="font-weight: 400; margin: 0">Recreation Reduced Fee </p>
          </div>
        </div>
        <div class = "row" style="margin:0;width:100%">
            <a class="row" href="https://www.fcgov.com/recreation/reducedfeeprogram" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
                <p style = "margin: 0;color:var(--lightblue); font-size: 15px;"> Learn More </p>
                <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 1vw; margin-left: 5px;color:black">
            </a>
        </div>
      </div>
    </div>

        
    <div class="item extraLarge" style="place-content: center;  display:grid; vertical-align: top; border: transparent;">
      <div class="calendar-container">
        <header>
          <div class="day">18</div>
          <div class="month">August</div>

        </header>
        <table class="calendar">
          <thead>
            <tr>
              <td>Mon</td>
              <td>Tue</td>
              <td>Wed</td>
              <td>Thu</td>
              <td>Fri</td>
              <td>Sat</td>
              <td>Sun</td>   
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="prev-month">29</td>
              <td class="prev-month">30</td>
              <td class="prev-month">31</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td class="current-day">18</td>
            </tr>
            <tr>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
            </tr>
            <tr>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td class="next-month">1</td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end calendar-container -->
    </div>
    
    <div class="item large" style="align-content:flex-end">
      <p style = "color: #999999">Upcoming Program Updates </p>
    <!--CSV HERE / Also template for printing out all updates-->
      <p style="font-weight: 550;">Program Benefits Come in Effect </p>
      <p> Grocery Rebate 07/19/21</p>
      <a href="{% url 'dashboard:dashboard' %}" style="text-decoration: none; color:#55A1D3">Show More   <img src="{% static 'dashboard/images/rightArrow.svg' %}" > </a>
    </div>

    
    <div class="item large">
      <p style = "color: #999999">City News & Events </p>

    <!--CSV HERE / Also template for printing out all updates-->
      <div>
        <p style = "margin-bottom:0;"> The Coloradoan </p>
        <p style="font-weight: 550; margin: 5px 0">Its application season: new rounds of applications begin this week. </p>
        <p style = "color:#999999;margin-top:0;" >4 days ago</p>
      </div>

      <div>
        <p style = "margin-bottom:0;"> The Coloradoan </p>
        <p style="font-weight: 550; margin: 5px 0">Blast of winter returns with up to 6 inches of snow expected in Fort... </p>
        <p style = "color:#999999;margin-top:0;" >2 days ago</p>
      </div>
    </div>
    <div class="item extraLarge" style="padding-left: 3%;">
      <form action="{% url 'dashboard:index' %}" method="post">
        {% csrf_token %}
          <p>Feedback</p>
          <div class="column" style="margin:0; width:100%;">
            <p style="font-weight: 600;">How would you rate your experience so far using the Connexion portal? </p>
            <div class="column" style="margin:0; width:100%;">
              <clearButton name="starRating" value="1" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star1" style="width:min(10vw, 50px);" onclick="fillStar(1)"> </clearButton>
              <clearButton name="starRating" value="2" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star2" style="width:min(10vw, 50px);" onclick="fillStar(2)"> </clearButton>
              <clearButton name="starRating" value="3" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star3" style="width:min(10vw, 50px);" onclick="fillStar(3)"> </clearButton>
              <clearButton name="starRating" value="4" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star4" style="width:min(10vw, 50px);" onclick="fillStar(4)"> </clearButton>
              <clearButton name="starRating" value="5" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star5" style="width:min(10vw, 50px);" onclick="fillStar(5)"> </clearButton>
            </div>
        </div>
        <div class="column" style="width:100%; margin:0; justify-content: flex-start;">
              <p style="font-weight: 800; margin-top: 50px;">How can we do better?</p> 
              <textarea class="feedback" placeholder="Tell us how we're doing!"id="" name="feedbackComments" maxlength="500" style="border-radius: 2vh;"></textarea>
            <button name="starRating" value = "" id="submit" style="width:90%"> <b>Share Feedback</b> </button>
        </div>
      </form> 
    </div>

    </div>
    <div class="item" style="border: white;"></div>

  </div>

<script>
  document.querySelector('#toggle-button').addEventListener('click', function() {
    document.querySelector('.item.collapsible.pending').classList.toggle('collapsed');
  });
</script>

<script>
  document.querySelector('#toggle-button2').addEventListener('click', function() {
    document.querySelector('.item.collapsible.active').classList.toggle('collapsed');
  });
</script>

<script>
  document.querySelector('#toggle-button1').addEventListener('click', function() {
    document.querySelector('.item.collapsible.qualifyfor').classList.toggle('collapsed');
  });
</script>


<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>








{% endblock %}
