<!-- This brings in the CSS-->
{% extends "dashboard/layout_dashboard.html" %}

{% load static %}

<link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">
{% block body %}

<!--Back to dashboard button-->
<a class="row" href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;justify-content: start;align-items: center;">
    <img src="{% static 'dashboard/images/Path 1083.svg' %}" alt="back" style="height: 3vw; margin-right: 5px;color:black">
    <p style = "color:var(--lightblue);font-size: max(3vw, 12px);margin-left: 3%;">Back to Dashboard</p>
</a>

<!-- example of FAQ-->
<div class="modulequickApply" style="padding-left: 300px;">
    <p style ="font-weight: 550; margin: 0;color:var(--lightblue)">How will I know when my application has been approved? </p>
    <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Text explaining when users will get notified for application status. Text for FAQ page will be deferred to Nina & Merry to gather.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>
</div>
<!-- example of FAQ-->
<div class="modulequickApply" style="padding-left: 300px">
    <p style ="font-weight: 550; margin: 0;color:var(--lightblue)">How will I know when my application has been approved? </p>
    <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Text explaining when users will get notified for application status. Text for FAQ page will be deferred to Nina & Merry to gather.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>
</div>
<!-- example of FAQ-->
<div class="modulequickApply" style="padding-left: 300px">
    <p style ="font-weight: 550; margin: 0;color:var(--lightblue)">How will I know when my application has been approved? </p>
    <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Text explaining when users will get notified for application status. Text for FAQ page will be deferred to Nina & Merry to gather.  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. </p>
</div>

<div class="extraspace"></div>

{% endblock %}
