{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}
<script type='text/javascript'>
    function preview_image(event) 
    {
        var reader = new FileReader();
        reader.onload = function()
        {
        var output = document.getElementById('output_image');
        output.src = reader.result;
        }
        
        reader.readAsDataURL(event.target.files[0]);

    }
</script>
<div class=sideNav>
    <div class=fadeSmall>
        <h1><b>Almost Done!</b></h1>
        <p><b>Why are you asking for these documents?</b></p>
        <p>The documents that you upload will help verify your address. They’ll also help us further validate which programs you may be eligible for.</p>
    </div>
</div>
<p style="color:var(--lightblue);font-weight: 700;"> STEP {{ step }} OF {{ formPageNum }} </p>
            
<div style="margin-top: 3vh;">
    <p>To get verified, please upload your</p>
    <h3> {{program_string}} </h3>
    <p >Uploaded documents are secure & not shared with anyone outside of Fort Collins.</p>
    
</div>

<div class=fadeLarge><h6> Upload Files Below:</h6></div>

<form action="{% url 'dashboard:files' %}" method="post" autocomplete="false" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% if field.label == "Program" %}
            <div class="fadeLarge">
                <div class="row" style="justify-content: space-between;">
                    <p style="font-weight: 800;">Files: </p> 
                    <select name="{{ field.name }}" id="{{ field.id_for_label}}">
                    {% if program_string == "SNAP Card" %}
                        <option style="background-color: var(--darkblue);" value="SNAP"> SNAP </option>
                    {% elif program_string == "PSD Reduced Lunch Approval Letter" %}
                        <option style="background-color: var(--darkblue);" value="Free and Reduced Lunch"> Free and Reduced Lunch </option>
                    {% elif program_string == "SNAP Card, PSD Reduced Lunch Approval Letter" %}
                        {% for option in field %}
                            <option style="background-color: var(--darkblue);" value="{{ option.choice_label }}"> {{ option.choice_label }} </option>
                        {% endfor %}

                    {% elif program_string == "SNAP Card, Identification" %}
                        <option style="background-color: var(--darkblue);" value="SNAP"> SNAP </option>
                        <option style="background-color: var(--darkblue);" value="Identification"> Identification </option>
                    {% elif program_string == "PSD Reduced Lunch Approval Letter, Identification" %}
                        <option style="background-color: var(--darkblue);" value="Free and Reduced Lunch"> Free and Reduced Lunch </option>
                        <option style="background-color: var(--darkblue);" value="Identification"> Identification </option>
                    {% elif program_string == "SNAP Card, PSD Reduced Lunch Approval Letter, Identification" %}
                        {% for option in field %}
                            <option style="background-color: var(--darkblue);" value="{{ option.choice_label }}"> {{ option.choice_label }} </option>
                        {% endfor %}
                    

                    
                    {% elif program_string == "1040 Form" %}
                        <option style="background-color: var(--darkblue);" value="1040"> Tax Form </option>
                    <!-- take above and include for Identification-->
                    {% endif %}
                    </select>
                </div>
            </div>
            <div class="fadeSmall">
                <div class="row" style="justify-content: space-between;">
                    <p style="font-weight: 800;">Files: </p> 
                    <select name="{{ field.name }}" id="{{ field.id_for_label}}">
                    {% if program_string == "SNAP Card" %}
                        <option style="background-color:white;" value="SNAP"> SNAP </option>
                    {% elif program_string == "PSD Reduced Lunch Approval Letter" %}
                        <option style="background-color: white;" value="Free and Reduced Lunch"> Free and Reduced Lunch </option>
                    {% elif program_string == "SNAP Card, PSD Reduced Lunch Approval Letter" %}
                        {% for option in field %}
                            <option style="background-color: white;" value="{{ option.choice_label }}"> {{ option.choice_label }} </option>
                        {% endfor %}


                    {% elif program_string == "SNAP Card, Identification" %}
                        <option style="background-color:white;" value="SNAP"> SNAP </option>
                        <option style="background-color:white;" value="Identification"> Identification </option>
                    {% elif program_string == "PSD Reduced Lunch Approval Letter, Identification" %}
                        <option style="background-color: white;" value="Free and Reduced Lunch"> Free and Reduced Lunch </option>
                        <option style="background-color:white;" value="Identification"> Identification </option>
                    {% elif program_string == "SNAP Card, PSD Reduced Lunch Approval Letter, Identification" %}
                        {% for option in field %}
                            <option style="background-color: white;" value="{{ option.choice_label }}"> {{ option.choice_label }} </option>
                        {% endfor %}
                    

                    {% elif program_string == "1040 Form" %}
                        <option style="background-color: var(--darkblue);" value="1040"> Tax Form </option>
                    <!-- take above and include for Identification-->
                    {% endif %}
                    </select>
                </div>
            </div>
        {% elif field.label == "Document Upload" %}
            <div class="upload-btn-wrapper" style ="width:100%; align-items: center; margin-top: 3vh;">
                <button class="buttonFileUpload">
                    <div class="row" style="justify-content: space-between;">
                        <img src="{% static 'dashboard/images/upload.svg' %}" alt="back" style="width:15vw; margin-right: 5vw;">
                        <div style="display:flex; flex-direction:column;align-items:flex-start;">
                            <p style = "color:white; font-weight: 400;text-align: left; margin-bottom: 5px;">Select the document from your photo library.</p>
                            <p style = "color:white;font-weight: 200;">PDF, PNG or JPEG</p>
                        </div>
                    </div>
                </button>
                <input type="file" name ="{{field.name}}" id="{{ field.id_for_label }}" onchange="preview_image(event)" required/>
            </div>
        {% endif %}
    {% endfor %}
    <br>
    <div class="preview"> 
        <img style ="max-width:100%;" id="output_image"/>
    </div>
    <br>
    <div class="footer">
        <button type ="submit" > CONTINUE </button>
    </div>
</form>

{% endblock %}