<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}

<script type='text/javascript'>
    function preview_image(event) 
    {
        var reader = new FileReader();
        reader.onload = function()
        {
        var output = document.getElementById('output_image');
        output.src = reader.result;
        }
        
        document.getElementById("toggleColorButton").style.backgroundColor = 'Green';
        reader.readAsDataURL(event.target.files[0]);

    }
</script>


<!--Modal for preview of what we require for SNAP-->
<div id="modalImageInstructions" class="modal-alert">
    <!-- Modal content -->
    <div class="modal-content">
      <span id="instructions-close" class="close">&times;</span>
      <div class ="fadeSmall"><p style="color: var(--darkblue); padding-top:35px;"> Please upload a card, a copy of an email, or a letter from qualifying programs. Take a screen shot like the example of the EBT card. Please make sure the names and information are clear.</p></div>
      <div class ="fadeLarge"><p style="color: var(--darkblue); padding-top:35px;"> Please upload a card, a copy of an email, or a letter from qualifying programs. Take a screen shot like the example of the EBT card. Please make sure the names and information are clear.</p></div>
  
            <br>
            <br>
            <br>
            <div class ="row">
              <div class="fadeSmall"><img src="{% static 'application/images/SampleEBTScreenshot.png' %}" width="300px" height=auto></div>
              <div class="fadeSmall"><img src="{% static 'application/images/ColoradoIDCardSample.jpg' %}" width="500" height=auto></div>
            </div>
            <div class="fadeLarge"><img src="{% static 'application/images/SampleEBTScreenshot.png' %}" width="300px" height=auto></div>
            <div class="fadeLarge"><img src="{% static 'application/images/ColoradoIDCardSample.jpg' %}" width="300px" height=auto></div>
        </div>
  </div>
  

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class ="fadeSmall"><p style="color: var(--darkblue);">If you are uploading multiple files, be sure to click and <b>hold</b> the Ctrl key on your keyboard and click on each file. See an example below!</p></div>

      <div class ="fadeLarge"><p style="color: var(--darkblue);">Be sure to take your pictures first and then choose gallery or similar and long press or hold on each item to upload multiple files. See an example below!</p></div>

            <br>
            <br>
            <br>
            <div class="fadeSmall"><img src="{% static 'application/images/Step5InstructionsDesktop.gif' %}"></div>
            <div class="fadeLarge"><img src="{% static 'application/images/Step5InstructionsMobile.gif' %}" width="300px" height=auto></div>

        </div>
</div>




<div class=sideNav>
    <div class=fadeSmall>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoWhite-01.png' %}">
        <h1><b>Almost Done!</b></h1>
        <p><b>Why are you asking for these documents?</b></p>
        <p>The documents that you upload will help verify your address and further validate which programs you may be eligible for.</p>
        <p>An identification card can be any of the following:
            <ul>
                <p style="color:white">Colorado Driver's License or Colorado Identification card</p>
                <p style="color:white">A United States Military or Military Dependent's Identification Card</p>
                <p style="color:white">A United States Coast Guard Merchant Mariner card </p>
                <p style="color:white">A Native Tribal Document</p>
                <p style="color:white">Copy of Applicant's Birth Certificate from any States</p>
                <p style="color:white">United States Passport</p>
                <p style="color:white">For a list of more acceptable proof of identification, <a href="https://drive.google.com/file/d/1eyJ4sMmoEw2_lLJFVFlAzQcNFk8oF2Lj/view" style="color:var(--yellow)">please click here</a></p>
            </ul>
            </p>
    </div>
</div>
<p style="font-weight: 700;"> STEP {{ step }} OF {{ formPageNum }} </p>


{% if message %}
    <div style="color:red; margin-bottom: 5%;">{{ message }} </div>
{% endif %}

            
<div style="margin-top: 3vh;">
    <p>To get verified, please upload your</p>
    <h3> {{program_string|linebreaks}} </h3>
    <!--
    <ul>
        <li> {{program_string}} </li>
    </ul>
    
    <ul>
        <li>{{program_string}}</li>
    </ul>
    -->

    <br>
    <br>
    <p >Uploaded documents are secure & not shared with anyone outside of Fort Collins' income eligible programs. </p>
    
</div>

<div class=fadeLarge><h6> Upload Files Below:</h6></div>
<div class=fadeSmall>
    <br>
    <br>
</div>
<form action="{% url 'dashboard:files' %}" method="post" autocomplete="false" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% if field.label == "Program" %}
            <div class="row" style="justify-content: space-between;">
                <p style="font-weight: 800;">Files: <buttonQuestion  id="myBtn"><img id src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px); display: inline;"></buttonQuestion> </p>
                <select name="{{ field.name }}" id="{{ field.id_for_label}}">

                {% for program, program_was_selected in programs.items %}
                    {% if program_was_selected %}
                        {% if program == "Affordable Connectivity Program" %}
                            <option class="option files" value="ACP Letter">ACP Letter</option>
                        {% elif program == "Identification" %}
                            <option class="option files" value="Identification">Identification</option>
                        {% elif program == "SNAP Card" %}
                            <option class="option files" value="SNAP">SNAP</option>
                        {% elif program == "LEAP Letter" %}
                            <option class="option files" value="LEAP Letter">LEAP Letter</option>
                        {% elif program == "PSD Reduced Lunch Approval Letter" %}
                            <option class="option files" value="Free and Reduced Lunch">Free and Reduced Lunch</option>
                        {% elif program == "Medicaid Card" %}
                            <option class="option files" value="Medicaid">Medicaid</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                </select>
            </div>
        {% elif field.label == "Document Upload" %}
            <div class="upload-btn-wrapper" style ="width:100%; align-items: center; margin-top: 3vh;">
                <button class="buttonFileUpload" id="toggleColorButton">
                    <div class="row" style="justify-content: space-between;">
                        <img src="{% static 'dashboard/images/upload.svg' %}" alt="back" style="width:15vw; margin-right: 5vw;">
                        <div style="display:flex; flex-direction:column;align-items:flex-start;">
                            <div class=fadeSmall><p style = "color:white; font-weight: 400;text-align: left; margin-bottom: 5px;">Upload Documents: Upload multiple files by pressing Ctrl and clicking each file. </p></div>
                            <div class=fadeLarge><p style = "color:white; font-weight: 400;text-align: left; margin-bottom: 5px;">Click Here to Upload Documents </p></div>
                            <p style = "color:white;font-weight: 200;">PDF, PNG or JPEG</p>
                        </div>
                    </div>
                </button>
                <input type="file" name ="{{field.name}}" id="{{ field.id_for_label }}" onchange="preview_image(event)" required multiple>
            </div>
        {% endif %}
    {% endfor %}

    <br>
 <!-- Taking preview out and instead going to replace with "green upload complete button"  also need to mess with field.name, etc. to make sure second upload is actually captured...
    <div class="preview"> 
        <img style ="max-width:100%;" id="output_image"/>
    </div>
-->
    <br>
    <div class="footer">
        <button type ="submit" > CONTINUE </button>
    </div>
</form>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Get the modal
    var instructionsModal = document.getElementById("modalImageInstructions");
  
    // Get the <span> element that closes the modal
    var instructionsClose = document.getElementById("instructions-close");
    
  
    // When the user clicks on <span> (x), close the modal
    instructionsClose.onclick = function() {
        instructionsModal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == instructionsModal) {
        instructionsModal.style.display = "none";
      }
    }
</script>
{% endblock %}