<!-- This brings in the CSS-->

{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>GetYour: Connexion</title>
        <link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="row" style="text-align: center;">
          <nav role="navigation" style="width: 3vh;">
            <div id="menuToggle" class="icon" style="position: absolute;">
              <input type="checkbox" />
              
              <!--Some spans to act as a hamburger.-->
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="menu">
                <a style="color:var(--yellow); font-weight: 800;" href="#"><li>Dashboard</li></a>
                <a style="color:var(--white); font-weight: 800;" href="#"><li>FAQ</li></a>
              </ul>
            </div>
          </nav>
            <p style="font-weight: 700; color:var(--darkblue);">GetYour: Connexion</p>
            <img src="{% static 'dashboard/images/AlertBell.svg' %}" alt="back" style="width:4.5vw;" onclick="location.href='{% url 'application:index' %}'">
        </div>
        
        <div class="content ">
            <div class="module" >
              <p>Application Status </p>
              <h3 style="color:#137D13; font-weight: 800;"><span style="font-size:max(5.9vw, 30px);margin-right: 4vw;">01</span>In Progress</h3>
              <div class="row" style="margin:0; width:100%;">
                <img src="{% static 'dashboard/images/iconRise.svg' %}" alt="back" style="width:23vw;margin-right: 3vw;" onclick="location.href='{% url 'application:index' %}'">
                <p>The office is experiencing busier than normal application rates. </p>
            </div>
            <div class="row" style="width:100%; margin:0; justify-content: flex-start;">
                <img src="{% static 'dashboard/images/clock.svg' %}" alt="back" style="width:10vw; margin-right:5vw;" onclick="location.href='{% url 'application:index' %}'">
                <div>
                  <p style="margin-bottom: 0;">Estimated processing time:</p>
                  <p style="font-weight: 800; margin-top: 5px;">Qualification Status:</p>
                  <p style="font-weight: 800; margin-top: 5px;">{{program_string}}</p> 
                </div>
              </div>
            </div>
            <div class="module" >
              <form action="{% url 'dashboard:index' %}" method="post">
                {% csrf_token %}
                  <p>Feedback</p>
                  <div class="column" style="margin:0; width:100%;">
                    <p style="font-weight: 800;">How would you rate your experience so far using the Connexion portal? </p>
                    <div class="column" style="margin:0; width:100%;">
                      <clearButton name="starRating" value="1" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star1" style="width:10vw;margin-right: 3vw;" onclick="fillStar(1)"> </clearButton>
                      <clearButton name="starRating" value="2" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star2" style="width:10vw;margin-right: 3vw;" onclick="fillStar(2)"> </clearButton>
                      <clearButton name="starRating" value="3" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star3" style="width:10vw;margin-right: 3vw;" onclick="fillStar(3)"> </clearButton>
                      <clearButton name="starRating" value="4" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star4" style="width:10vw;margin-right: 3vw;" onclick="fillStar(4)"> </clearButton>
                      <clearButton name="starRating" value="5" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star5" style="width:10vw;margin-right: 3vw;" onclick="fillStar(5)"> </clearButton>
                      </div>
                </div>
                <div class="column" style="width:100%; margin:0; justify-content: flex-start;">
                      <p style="font-weight: 800; margin-top: 50px;">How can we do better?</p> 
                      <textarea class="feedback" placeholder="Tell us how we're doing!"id="" name="feedbackComments" maxlength="500"></textarea>
                    <button name="starRating" value = "" id="submit" style="width:100%; padding:0; justify-content: flex-start;"> <b>SHARE FEEDBACK</b> </button>
                  </div>
              </form>
            </div>
        </div>

        <script>
          var image1 =  document.getElementById("star1");
          var image2 =  document.getElementById("star2");
          var image3 =  document.getElementById("star3");
          var image4 =  document.getElementById("star4");
          var image5 =  document.getElementById("star5");
          function fillStar(value)
          {
            switch (value)
            {
                case 1:
                if (image1.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                {
                  image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  document.getElementById("submit").value = value;
                  return value;
                }
                else if((image2.getAttribute('src') || image3.getAttribute('src') || image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                {
                  image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                else
                {
                  image1.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                break;

                case 2: 
                  if (image2.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                  {
                    image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    document.getElementById("submit").value = value;
                    return value;
                    
                  }
                  else if((image3.getAttribute('src') || image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                  {
                    image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  }
                  else
                  {
                    image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image1.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  }
                break;
              

                case 3: 
                if (image3.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                {
                  image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  document.getElementById("submit").value = value;
                  return value;
                }
                else if((image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                {
                  image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                else
                {
                  image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                break;

                case 4: 
                if (image4.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                {
                  image4.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  document.getElementById("submit").value = value;
                  return value;
                }
                else if(image5.getAttribute('src') == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                {
                  image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                else
                {
                  image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                break;

                case 5: 
                if (image5.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                {
                  image5.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image4.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                  document.getElementById("submit").value = value;
                  return value;
                }
                else
                {
                  image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  image1.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                }
                break;
              } 
          }
        </script>
    </body>
</html>





