<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
<!-- This brings in the CSS-->

{% load static %}

<!DOCTYPE html>
<html lang="en">

    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>{{ Title }}</title>
        <link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL59NNQRH0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SL59NNQRH0');
        </script>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages : 'ar,es,fr,pt,zh-CN,zh-TW,tl,eo,de,ht,hi,hmn,id,ja,jv,ko,rw,ko,ms,my,mi,pt,pa,ru,so,sw,uk,vi,xh,yo,zu', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </head>

    <body>

      {% if is_prod is False %}
          <div style="background-color: #FF5E5E; text-align: center; font-size: x-large; ">WARNING: THIS SITE IS FOR TESTING ONLY<br>To enroll in Get FoCo, go to <a href="https://getfoco.fcgov.com" target="_blank">https://getfoco.fcgov.com</a> instead</div>
      {% endif %}
      
      <div style="display: flex; justify-content: flex-end;padding: 10px; " id="google_translate_element"></div>
      <!-- Top Navigation Row-->
      <div class="topNavRow" style="text-align: center; position:fixed; background-color: white;z-index: 99;">
          <nav role="navigation" style="width: 3vh;">
            <div class="fadeLarge">
              <div id="menuToggle" class="icon" style="position: fixed;">
                <input type="checkbox" />
                
                <!--Some spans to act as a hamburger.-->
                <span></span>
                <span></span>
                <span></span>
                
                <ul id="menu">
                  <a style="color: {{ dashboard_color }} ; " href="{% url 'dashboard:dashboard' %}"><li>Dashboard</li></a>
                  <a style="color:{{ program_list_color }}; " href="{% url 'dashboard:ProgramsList' %}"><li>Program List</li></a>
                  <a style="color:{{ FAQ_color }}; " href="{% url 'dashboard:FAQ' %}"><li>FAQ</li></a>
                  <a style="color:{{ Settings_color }}; " href="{% url 'dashboard:settings' %}"><li>Settings</li></a>
                  <a style="color:{{ Privacy_Policy_color }}; " href="{% url 'application:privacyPolicy' %}"><li>Privacy Policy</li></a>
                  <a style="color:white; " href="{% url 'application:index' %}"><li>Log Out</li></a>
                
                </ul>
              </div>
            </div>
            <!--Side Navigation Column, for desktops and larger than phone devices-->
            <div class="fadeSmall">
              <div class=sideNav style="padding-left: 0;">
                
                <ul>
                  <p style="color: var(--yellow); font-weight: 700; font-size: 25px;">Get <p.1 style="color: white">FoCo</p></p>
                  <p> <img src="{% static 'dashboard/images/Dashboard.svg' %}">  <a style="color: {{ dashboard_color }}; text-decoration:none; " href="{% url 'dashboard:dashboard' %}">Dashboard</a></p>
                  <p> <img src="{% static 'dashboard/images/ProgramList.svg' %}"> <a style="color:{{ program_list_color }}; text-decoration:none;" href="{% url 'dashboard:ProgramsList' %}">Programs</a></p>
                  <!-- <p> <img src="{% static 'dashboard/images/FAQ.svg' %}">  <a style="color:{{ FAQ_color }}; text-decoration:none;" href="{% url 'dashboard:FAQ' %}">FAQ</a></p> -->
                  <p> <img src="{% static 'dashboard/images/Settings.svg' %}">  <a style="color:{{ Settings_color }};text-decoration:none; " href="{% url 'dashboard:settings' %}">Settings</a></p>
                  <!-- <p> <img src="{% static 'dashboard/images/Settings.svg' %}">  <a style="color:{{ Bag_It_color }};text-decoration:none; " href="{% url 'dashboard:BagIt' %}">Bag It</a></p>-->
                  <p> <img src="{% static 'dashboard/images/PrivacyPolicy.svg' %}">  <a style="color:{{ Privacy_Policy_color }};text-decoration:none; " href="{% url 'application:privacyPolicy' %}">Privacy Policy</a></p>
                  <p> <img src="{% static 'dashboard/images/LogOut.svg' %}">  <a style="color:white;text-decoration:none; " href="{% url 'application:index' %}">Log Out</a></p>
                  <p style="font-size: 15px; text-align: center;"> {{clientEmail}}</p>
                  <p style="position: absolute; bottom: 5px; font-size: 15px; left: 0px; right: 0px; display: block; margin-left: auto; margin-right: auto;"> Service brought to you by the City of Fort Collins.</p>
                  <img style="align-items:center; position:absolute; bottom: 80px; left: 0px; right: 0px; display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoWhite-01.png' %}">
                </ul>
                <div>
                  
                </div>
                
              </div>
            </div>
          </nav>
            <p style="font-weight: 400; color:var(--darkblue);">{{ page_title }}</p>
            <img src="{% static 'dashboard/images/AlertBell.svg' %}" alt="back" style="width:min(4.5vw,30px)">
      </div>
      <div class="extraspace">
      </div>
        <div class="">
          {% block body %}
          
          {% endblock %}
          <div class=fadeLarge>
            <div class="module" >
                <form action="{% url 'dashboard:index' %}" method="post">
                  {% csrf_token %}
                    <p>Feedback</p>
                    <div class="column" style="margin:0; width:100%;">
                      <p style="font-weight: 800;">How would you rate your experience so far using the Get FoCo portal? </p>
                      <div class="column" style="margin:0; width:100%;">
                        <clearButton name="starRating" value="1" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star1" style="width:min(10vw, 50px);margin-right: 3vw;" onclick="fillStar(1)"> </clearButton>
                        <clearButton name="starRating" value="2" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star2" style="width:min(10vw, 50px);margin-right: 3vw;" onclick="fillStar(2)"> </clearButton>
                        <clearButton name="starRating" value="3" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star3" style="width:min(10vw, 50px);margin-right: 3vw;" onclick="fillStar(3)"> </clearButton>
                        <clearButton name="starRating" value="4" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star4" style="width:min(10vw, 50px);margin-right: 3vw;" onclick="fillStar(4)"> </clearButton>
                        <clearButton name="starRating" value="5" type ="button"> <img src="{% static 'dashboard/images/reviewStarUnfilled.svg' %}" id="star5" style="width:min(10vw, 50px);margin-right: 3vw;" onclick="fillStar(5)"> </clearButton>
                      </div>
                  </div>
                  <div class="column" style="width:100%; margin:0; justify-content: flex-start;">
                        <p style="font-weight: 800; margin-top: 25px;">How can we do better? Don't worry, your feedback is anonymous!</p> 
                        <textarea class="feedback" placeholder="Tell us how we're doing!"id="" name="feedbackComments" maxlength="500" style="border-radius: 2vh;"></textarea>
                      <button name="starRating" value = "" id="submit" style="width:100%"> <b>Share Feedback</b> </button>
                      <br>
                      <br>
                  </div>
                </form>
              </div>
          </div>
            <div class="extraspace">
          </div>
          </div>
          </div>
        </div>
          <script>
            var image1 =  document.getElementById("star1");
            var image2 =  document.getElementById("star2");
            var image3 =  document.getElementById("star3");
            var image4 =  document.getElementById("star4");
            var image5 =  document.getElementById("star5");
            function fillStar(value)
            {
              switch (value)
              {
                  case 1:
                  if (image1.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                  {
                    image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    document.getElementById("submit").value = value;
                    return value;
                  }
                  else if((image2.getAttribute('src') || image3.getAttribute('src') || image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                  {
                    image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image2.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  }

                  break;
  
                  case 2: 
                    if (image2.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                    {
                      image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                      image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                      document.getElementById("submit").value = value;
                      return value;
                      
                    }
                    else if((image3.getAttribute('src') || image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                    {
                      image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                      image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                      image3.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    }

                  break;
                
  
                  case 3: 
                  if (image3.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                  {
                    image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    document.getElementById("submit").value = value;
                    return value;
                  }
                  else if((image4.getAttribute('src') || image5.getAttribute('src')) == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                  {
                    image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                    image4.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  }

                  break;
  
                  case 4: 
                  if (image4.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                  {
                    image4.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    document.getElementById("submit").value = value;
                    return value;
                  }
                  else if(image5.getAttribute('src') == "{% static 'dashboard/images/reviewStarFilled.svg' %}")
                  {
                    image5.src = "{% static 'dashboard/images/reviewStarUnfilled.svg' %}";
                  }

                  break;
  
                  case 5: 
                  if (image5.getAttribute('src') == "{% static 'dashboard/images/reviewStarUnfilled.svg' %}")
                  {
                    image5.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image4.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image3.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image2.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    image1.src = "{% static 'dashboard/images/reviewStarFilled.svg' %}";
                    document.getElementById("submit").value = value;
                    return value;
                  }
                  break;
                } 
            }
          </script>
      </body>
  </html>