<!-- This brings in the CSS-->
{% extends "application/layout.html" %}
{% load static %}

{% block body %}
<form action="{% url 'dashboard:manualVerifyIncome' %}" method="post" autocomplete="false" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="preview"> 
        <br>
        
        <br>
        <br>
    <p style = " font-weight: 400;text-align: left; margin-bottom: 5px;"> If you're uploading your 1040, what is your adjusted gross income? (Box 11 on your 1040 or 1040SR tax form)</p> 
    <br>
    <p style = "font-weight: 400;text-align: left; margin-bottom: 5px;"> Amount:</p>
    <div class="input" style = "width:100%;">
        <!--TODO: this was copy pasted from address, need to update to taxboxamount-->
        <input class="fill" name="TaxBoxAmount"
            id="TaxBoxAmount"
            maxlength="9"
            type="text" 
            style="width:100%;"   
            autocomplete="off">
        </div>
    </div>
    <div class="footer">
        <button type ="submit" > CONTINUE </button>
    </div>
</form>

{% endblock %}