<!-- This brings in the CSS-->
{% extends "dashboard/layout_dashboard.html" %}

{% load static %}

<link href="{% static 'dashboard/styles.css' %}" rel="stylesheet">
{% block body %}

<!--Back to dashboard button-->
<a class="row" href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;justify-content: start;align-items: center;">
    <img src="{% static 'dashboard/images/Path 1083.svg' %}" alt="back" style="height: 3vw; margin-right: 5px;color:black">
    <p style = "color:var(--lightblue);font-size: max(3vw, 12px);margin-left: 3%;">Back to Dashboard</p>
</a>

<!-- example of qualified program-->
<div class="modulequickApply" id="groceryRebate">
    <div class = "row" style="margin:0; width:100%">
        <div style="margin:0">
            <p style ="font-weight: 550; margin: 0">Grocery Tax Rebate </p>
            <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Food Assistance </p>
        </div>
        <a href="{% url 'application:GRQuickApply' %}" style="text-decoration: none"> <div class="quickapply" >Quick Apply +</div></a>
    </div>
    <div class = "row" style="margin:0;width:100%">
        <a class="row" href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
            <p style = "font-size: max(3vw, 12px);margin: 0;color:var(--lightblue)"> Learn More </p>
            <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 3vw; margin-left: 5px;color:black">
        </a>
        <p style = "font-size: max(3vw, 12px);color:#999999;margin-top:0;text-align: right;" >4 days left to apply</p>
    </div>
</div>

<!-- 
    for loop put up here to be used for when we have more programs
    can change Grocery Tax Rebate, Food Assistance Line, 4 days left apply from the database (CMS) side
-->


<div class="modulequickApply" id="recreationRebate">
    <div class = "row" style="margin:0; width:100%">
        <div style="margin:0">
            <p style ="font-weight: 550; margin: 0">Recreation Tax Rebate </p>
            <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Recreation Assistance </p>
        </div>
        <a href="{% url 'dashboard:addressVerification' %}" style="text-decoration: none"> <div class="quickapply" >Quick Apply +</div></a>
        
    </div>
    <div class = "row" style="margin:0;width:100%">
        <a class="row" href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
            <p style = "font-size: max(3vw, 12px);margin: 0;color:var(--lightblue)"> Learn More </p>
            <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 3vw; margin-left: 5px;color:black">
        </a>
        <p style = "font-size: max(3vw, 12px);color:#999999;margin-top:0;text-align: right;" >4 days left to apply</p>
    </div>
</div>


<!-- example of qualified program-->
<div class="modulequickApply" id="template">
    <div class = "row" style="margin:0; width:100%">
        <div style="margin:0">
            <p style ="font-weight: 550; margin: 0">Template Rebate </p>
            <p style = "font-size: max(3vw, 12px);margin-top:3px;"> Template "Something" Assistance </p>
        </div>
        <a href="{% url 'application:GRQuickApply' %}" style="text-decoration: none"> <div class="quickapply" >Quick Apply +</div></a>
    </div>
    <div class = "row" style="margin:0;width:100%">
        <a class="row" href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;justify-content: start;align-items: center;margin:0">
            <p style = "font-size: max(3vw, 12px);margin: 0;color:var(--lightblue)"> Learn More </p>
            <img src="{% static 'dashboard/images/Arrow 1.svg' %}" alt="back" style="height: 3vw; margin-left: 5px;color:black">
        </a>
        <p style = "font-size: max(3vw, 12px);color:#999999;margin-top:0;text-align: right;" >"X" days left to apply</p>
    </div>
</div>

<div class="extraspace"></div>


<!-- Logic for hiding quick apply below -->
<!-- Grocery Rebate-->
{% if  GRPreQualification  == "False" %}
<body onload="toggleGrocery()"></body>
{% endif %}

{% if  RecreationPreQualification  == "False" %}
<body onload="toggleRecreation()"></body>
{% else %}

{% endif %}

<!-- Recreation Rebate-->


<script>
    function toggleGrocery() {
      var x = document.getElementById("groceryRebate");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>

<script>
    function toggleRecreation() {
      var x = document.getElementById("recreationRebate");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
    

{% endblock %}
