{% extends "dashboard/layout.html" %}
{% load static %}

{% block body %}
<!--Login Page for GetyourConnexion-->

<h1>{{name}}</h1> 
<h1 style="margin-bottom: 3%;">{{lastName}} <a onclick="myFunction()" style="color: var(--yellow); margin-left: 30%; "> <h7>Edit</h7> </a></h1> 

<div class="input" style="margin-top: 10%;">
    <!--Have styling that I like on the forms-->      
    <input class="fill" type="text" name="email" placeholder={{email}} style="width: 100%;" autocomplete="off">
    <label class="label">Email</label>    
</div>

<div class="input">
    <!--Have styling that I like on the forms-->        
    <input class="fill" type="password" name="password" style="width: 100%;" autocomplete="off">
    <label class="label">Password</label>
</div>


<div id="myDIV">
<!--Login fields-->
    <form action="{% url 'dashboard:settings' %}" method="post" class="verticalContainer">
        {% csrf_token %}

        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="firstName" placeholder={{name}} style="width: 100%;" autocomplete="off">
            <label class="label">First Name</label>    
        </div>
        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="lastName" placeholder={{lastName}} style="width: 100%;" autocomplete="off">
            <label class="label">Last Name</label>    
        </div>
        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="address" placeholder={{address}} style="width: 100%;" autocomplete="off">
            <label class="label">Address</label>    
        </div>
        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="address2"  placeholder={{address2}} style="width: 100%;" autocomplete="off">
            <label class="label">Apartment #, Suite, Etc.</label>    
        </div>
        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="zipCode"  placeholder={{zipCode}} style="width: 100%;" autocomplete="off">
            <label class="label">Zip Code</label>    
        </div>

        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="text" name="state"  placeholder={{state}} style="width: 100%;" autocomplete="off">
            <label class="label">State</label>    
        </div>

        <div class="input">
            <!--Have styling that I like on the forms-->      
            <input class="fill" type="upload" name="fileUpload" placeholder = "Coming Soon" style="width: 100%;" autocomplete="off">
            <label class="label">File Upload</label>    
        </div>


    </form>

</div>

<button class="login" type="submit" style="width: 100%; margin-top: 20%;"><strong>Done</strong></button>




<script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
</script>
  
{% endblock %}