{% extends "dashboard/layout.html" %}

{% block body %}
{{form}}
<button class=buttonClick>Food Assistance (SNAP)</button>
<button class=buttonClick>Free / Reduced Lunch</button>

<input type="file" name ="SNAP" id="SNAP"/>
<input type="file" name ="FRL" id="FRL"/>

<style>
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
    
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

</style>

{% endblock %}