{% load static %}
<div class="nav">
    {% if display_back_link %}
    <a id="back-btn" class="row" href="{{ back_link }}">
        <div class="fadeSmall">
            <img class="back-btn" src="{% static 'img/BackArrow-darkblue.svg' %}" alt="back">
        </div>
        <div class="fadeLarge">
            <img class="back-btn" src="{% static 'img/BackArrow-white.svg' %}" alt="back">
        </div>
        <p style="font-weight: 700;">BACK</p>
    </a>
    {% endif %}

    {% if display_save_link %}
    <a id="save-btn" class="p2 mr-5" href="{% url 'app:index' %}?app_status=in_progress">
        <p>Save & Logout</p>
    </a>
    {% endif %}
</div>

<style>
    .mr-5 {
        margin-right: 5px;
    }

    .back-btn {
        width:max(4.5vw, 16px);
    }

    #save-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #back-btn, #save-btn {
        text-decoration: none;
    }
</style>