<p style="color: #999999">City News</p>

<div>
    <p style="margin-bottom:0;"> Larimer County COVID-19 Information Center</p>
    <p style="font-weight: 550; margin: 5px 0">
    <ul>Call: 970-498-5500: Open Monday - Friday, 9:00 am - 4:30 pm</ul>
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    <ul>Text questions: 970-999-1770: response within 4 hours during the day
    </ul>
    <a href="https://www.larimer.org/health/communicable-disease/coronavirus-covid-19" target="_blank"
        style="font-weight: 550; margin: 5px 0">
        <ul>More Information Here</ul>
    </a>
    </p>
    <p style="color:#999999;margin-top:0;">April 2022</p>
</div>

<div>
    <p style="margin-bottom:0;">Utility Affordability Programs</p>
    <p style="font-weight: 550; margin: 5px 0"><a
            href="https://www.fcgov.com/utilities/manage-your-account/payment-options/utilities-affordability-portfolio"
            target="_blank">Check out Utility programs that can reduce your monthly expenses.</a>
    </p>
    <p style="color:#999999;margin-top:0;">April 2022</p>
</div>

<div>
    <p style="margin-bottom:0;">United Way of Larimer County</p>
    <p style="font-weight: 550; margin: 5px 0">Information is available for Larimer County residents in need
        of rent, food or utilities assistance.
        Also includes resources for seniors, small business, mental health support, families, unemployment
        and medical needs.
        <a href="https://uwaylc.org/Get-Help/" target="_blank">uwaylc.org/Get-Help/</a>

    </p>
    <p style="color:#999999;margin-top:0;">April 2022</p>
</div>