/*
*This program is free software: you can redistribute it and/or modify
*it under the terms of the GNU General Public License as published by
*the Free Software Foundation, either version 3 of the License, or
*(at your option) any later version
*/

/*Style sheet for the application pagess*/
/*This may not work for internet explorer, the colors*/
:root {
    --darkblue: #13467D;
    --lightblue: #55A1D3;
    --orange: #F27B1F;
    --yellow: #F9B316;
    --gray: #999999;
}

input[type="checkbox"]{
    height:20px;
    width:20px;
}

@media screen and (min-width : 768px) {
    .fadeLarge{
        display:none;
    }
    
    /* css for password messaging */
    #message {
        display:none;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }
    
    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }
    
    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }
    
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }
    
    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }

    .modal {
        display:none;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        padding-left: 250px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      .modal-alert{
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        padding-left: 250px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
        .modal-content {
        display: block;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button for Modal*/
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }


    select {
        background-color: white;
        color: var(--darkblue);
        width: 50%;
        height:10vh;
        font-size: 1vw;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #FFF;
    }
    
    html,body {
        font-family: Montserrat;
        font-style: normal;
        overflow-x: hidden; 
        width: 100%;
        box-sizing: border-box;
        position: relative;
        background-color: white;
        margin:0;
        padding:0;
    }
    /*Keep floating contents inside respective parents*/
    div{
        position: relative;
        overflow-x: hidden;
    }
    /*Set up font sizes*/
    h1 {
        font-size:max(3vw, 25px);
        margin-bottom:1px;
        margin-top: 0px;
        font-family: Montserrat;
        font-weight: 400;
        color:var(--darkblue);
    }
    .yellow{
        color: var(--yellow)
    }
    h2 {
        font-size: max(2.5vw, 20px);
        color:var(--darkblue);
    }
    h3 {
        font-size: max(3vw, 16px);
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        overflow: hidden;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color:var(--darkblue);
    }
    h6:before,
    h6:after {
        background-color: #FFF;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    h6:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h6:after {
        left: 0.5em;
        margin-right: -50%;
    }
    
    p {
        font-size: max(10px, 30px);
        padding:0;
        margin:0;
        color: var(--darkblue);
    }
    .p2{
        color:var(--darkblue);
    }
    

    /*Keep things in rows*/
    .row{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0;
        align-items: center;
        
    }
    
    .nav{
        display:flex;
        justify-content: space-between;
        width: 70%;
        padding: 5% 5%;
        margin-left:18vw;
    }

    .navClean{
        display:flex;
        justify-content: space-between;
        width: 90%;
        padding: 5% 5%;
    }

    .sideNav{
        height: 100%;
        width: 20vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--darkblue);
        overflow-x: hidden;
        padding-top: 20px;
        /*padding-left:30px;*/
    }
    .sideNav h1{
        color: white;
        font-size: 40px;
        display: block;
        padding-top:200px;
        padding-left:50px;
        padding-right: 50px;
    }

    .sideNav p{
        color: white;
        font-size: 20px;
        display: block;
        padding-top:15px;
        padding-left:50px;
        padding-right: 50px;
    }
    .content {
        margin:5vw;
        height:70vh;
    }


    button {
        font-family: Montserrat;
        background-color: var(--lightblue);
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 55px;
        font-size: max(2vw, 14px);
        font-weight: 700;
        width: 85%;
    }

    button:disabled {
        font-family: Montserrat;
        background-color: grey;
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 45px;
        font-size: max(2vw, 14px);
        font-weight: 700;
        width:85%;
    }
    
    .buttonCheck{
        width:100%;
        font-family: Montserrat;
        font-weight: 200;
        font-size:  max(2vw, 14px);
        color: white;
        padding: 3vh;    
    }
    
    .checklabel{
        display: flex;
        width: 100%;
        border-radius: 3vh;
        overflow: hidden;
        background-color:var(--darkblue);
        align-items: center;
        margin-top: 4vh;
        cursor: pointer;
    }
    .checklabel::before{
        background-color:rgba(255,255,255,0.15);
        color: white;
    }
    
    input:checked+label {
        background-color: green;
    }
    
    label,input{
        display: inline-block;
        vertical-align: center;
        color: var(--darkblue);
        overflow: hidden;
        font-size: 25px;
    }
    
    
    .footer{
        display: flex;
        justify-content: center;
        /*These two lines made the button stick to the bottom*/

        bottom: 0;
        width:100%;
        height:12vh;
        
        position:absolute;
    }

    /*TODO: Do we want to make the link highlights disappear?*/
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }
    
    
    /*ALL THINGS BELOW ARE FOR INPUTS*/
    .input{
        position: relative;
        padding: 30px 0px;
        /*need height to be 100%*/
    }
    input{
        font-size: max(2vw, 14px);
        padding:5px;
        font-weight: 700;
        display:block;
        border:none;
        color:var(--darkblue);
        background-color: white;
        border-bottom:1px solid var(--darkblue);
    }
    input:focus { outline:none; }
    .labelword{
        color:var(--darkblue);
        font-size: max(2vw, 14px);
    }
    .label{
        /*This pushed the words away*/
        position:absolute;
        color:var(--darkblue);
        font-size:  max(2vw, 14px);
        left:5px;
        top:30px;
        pointer-events: none;
        transition:0.2s ease-in-out; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        
    }
      
    input.fill:focus ~ label, input.fill:valid ~ label {
        transform:translateY(-30px);
      }
    
    .spaceAround{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .buttonAddress{
        background-color: rgba(33, 65, 248, 0.15);
        border-radius: 3vh;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        text-align: start;
        display:flex;
        height:auto;
        font-size:  max(2vw, 14px);
        font-weight: 700;
        width:100%;
        padding: 3vh;
        cursor: pointer;
    }

    .desktop {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}



@media screen and (max-width : 767px) {
    .fadeSmall{
            display:none;
        }

    .modal {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      .modal-alert{
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button for Modal*/
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


    /* css for password messaging */
    #message {
        display:none;
        color: #000;
        position: relative;
        padding: 10px;
        background-color: #2a588a;
    }
    
    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }
    
    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }
    
    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }
    
    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }

    select {
        background-color: var(--darkblue);
        color: white;
        width: 50%;
        height: 6vh;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: #FFF;
    }
    html,body {
        font-family: Montserrat;
        font-style: normal;
        overflow-x: hidden; 
        width: 100%;
        box-sizing: border-box;
        position: relative;
        background-color: var(--darkblue);
        margin:0;
        padding:0;
    }
    /*Keep floating contents inside respective parents*/
    div{
        position: relative;
        overflow-x: hidden;
    }
    /*Set up font sizes*/
    h1 {
        font-size: max(5.9vw, 30px);
        margin-bottom:1px;
        margin-top: 0px;
        font-family: Montserrat;
        font-weight: 400;
        color:white;
    }
    .yellow{
        color: var(--yellow)
    }
    h2 {
        font-size: 25px;
        color:white;
    }
    h3 {
        font-size: max(4vw, 16px);
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        overflow: hidden;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: white;
    }
    h6:before,
    h6:after {
        background-color: #FFF;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    h6:before {
        right: 0.5em;
        margin-left: -50%;
    }
    h6:after {
        left: 0.5em;
        margin-right: -50%;
    }


    p {
        font-size: max(1vw, 16px);
        padding:0;
        margin:0;
        color:white; 
    }

    /*Keep things in rows*/
    .row{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0;
        align-items: center;
        
    }

    .nav{
        display:flex;
        justify-content: space-between;
        width: 90%;
        padding: 5% 5%;
    }
    .content {
        margin:5vw;
        height:70vh;
    }
    button {
        font-family: Montserrat;
        background-color: var(--lightblue);
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 45px;
        font-size: max(3.8vw, 16px);
        font-weight: 700;
        width:85%;
    }

    button:disabled {
        font-family: Montserrat;
        background-color: grey;
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 45px;
        font-size: max(3.8vw, 16px);
        font-weight: 700;
        width:85%;
    }

    .buttonCheck{
        width:100%;
        font-family: Montserrat;
        font-weight: 200;
        font-size: 3.2vh;
        color: white;
        padding: 3vh;
        
    }

    .checklabel{
        display: flex;
        width: 100%;
        border-radius: 3vh;
        overflow: hidden;
        background-color:rgba(255,255,255,0.15);
        align-items: center;
        margin-top: 4vh;
        cursor: pointer;
    }
    .checklabel::before{
        background-color:rgba(255,255,255,0.15);
        color: white;
    }

    input:checked+label {
        background-color: green;
    }

    label,input{
        display: inline-block;
        vertical-align: middle;
        color: white;
    }
    

    .footer{
        display: flex;
        justify-content: center;
        /*These two lines make the button stick to the bottom*/
        position: fixed;
        bottom: 0;
        width:90%;
        height:12vh; /*footer button fix?*/
    }
    
    /*TODO: Do we want to make the link highlights disappear?*/
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }


    /*ALL THINGS BELOW ARE FOR INPUTS*/
    .input{
        position: relative;
        padding: 20px 0px;
        /*need height to be 100%*/
    }
    input{
        font-size: 16px;
        padding:5px;
        font-weight: 700;
        display:block;
        border:none;
        color:var(--yellow);
        background-color: var(--darkblue);
        border-bottom:1px solid white;
    }
    input:focus { outline:none; }
    .labelword{
        color:white;
        font-size: max(3.4vw, 12px);
    }
    .label{
        /*This pushed the words away*/
        position:absolute;
        color:white;
        font-size: 12px;
        left:5px;
        top:20px;
        pointer-events: none;
        transition:0.2s ease-in-out; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        
    }
      
    input.fill:focus ~ label, input.fill:valid ~ label {
        transform:translateY(-20px);
      }

    .spaceAround{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttonAddress{
        background-color: rgba(255,255,255,0.15);
        border-radius: 3vh;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        text-align: start;
        display:flex;
        height:auto;
        font-size: max(5vw, 24px);
        font-weight: 700;
        width:100%;
        padding: 3vh;
        cursor: pointer;
    }
}

select {
    font-family: Montserrat;
}

section {
overflow: hidden;
margin:25px auto;
padding:15px 0 0;
animation:slidedown 3s ease;
}
@keyframes slidedown {
    0%{ transform:translateY(10px); opacity:0; }
65%,100%{ transform:translateY(0); opacity:1; }
}
section p { color:#222; padding:0 20px; }
.confirmation-slider {
padding:10px;
overflow: hidden;
margin-top:20px;
border-top:1px solid rgba(0,0,0,0.1);
text-align:center;
}

#status {
border:1px solid #ccc;
border-radius:20px;
height:52px;
}

@keyframes fadein {
    from{ opacity:0; }
to{ opacity:1; }
}

.delete-notice { display:none; user-select:none; font-size:20px; line-height:50px; color:var(--yellow); animation:fadein 4s ease; }

#confirm {
appearance:none!important;
background:transparent;
height:50px;
padding:0 5px;
width:100%;
}

#confirm::-webkit-slider-thumb {
appearance:none!important;
height:40px;
width:160px;
border:1px solid #3079ED;
border-radius:20px;
cursor:e-resize;
background: var(--yellow);
}

#confirm:hover::-webkit-slider-thumb {
border-color:var(--yellow);

}