{% extends "application/layout.html" %}

{% block body %}

<h2 style="font-weight: 700;color:white; margin:5vh 0"> Create an Account </h2>

<form action="{% url 'application:account' %}" method="post" autocomplete="false">
{% csrf_token %}
{% for field in form %}
    {% if form.errors %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% if field.label == "First Name" %}
        <div class ="row">
            <div class="input">
                <!--TODO: Save input-->
                <input class="fill" name="{{ field.name }}"
                    id="{{ field.id_for_label }}"
                    maxlength="{{ field.max_length }}"
                    type="text" 
                    style="width:80%;" 
                    required  
                    autocomplete="off">
                <label class="label">{{field.label}}</label>    
            </div>
            <div class="input">
                <!--TODO: change this to dropdown menu with data-->
                <input class="fill" name="{{ form.last_name.name }}"
                id="{{ form.last_name.id_for_label }}"
                maxlength="{{ form.last_name.max_length }}"
                type="text" 
                style="width:100%;" 
                required  
                autocomplete="off">
                <label class="label">{{ form.last_name.label }}</label>    
            </div>
        </div>

    <!--Probably not the best way, but I needed to get rid of the last name-->
    {% elif field.label == "Last Name" %}
    
    {% else %}
    <div class="input">
        <!--Have styling that I like on the forms-->        
        <input class="fill" name="{{ field.name }}"
        id="{{ field.id_for_label }}"
        maxlength="{{ field.max_length }}"
        type="text" 
        style="width:100%;" 
        required  
        autocomplete="off">
        <label class="label">{{field.label}}</label>    
    </div>
    {% endif %}
{% endfor %}
<div class="footer">
    <button type ="submit" > CONTINUE </button>
</div>

</form>
{% endblock %}