{% extends "application/layout.html" %}
{% load static %}
{% block body %}

<h2 style="font-weight: 700; margin:5vh 0">Please confirm the following: </h2>
<div class=sideNav> <div class=fadeSmall>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoGold-01.png' %}">
    <h1><b>You're done & ready for Get: FoCo!</b></h1>
    <p>Before we can finish, let's get some legalities out of the way.</p>
    </div>
</div>

<form action="{% url 'application:attestation' %}" method="post" autocomplete="false">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label}}">
        <input style="vertical-align: middle; display: inline-block;" required id="{{ field.id_for_label}}" type="checkbox" name="{{ field.name}}">
        {{field.label}}
    </label>
    <br>
    <br>
    {% endfor %}

    <p style="padding: 50px;"><b>Privacy Notice</b>
        <br>Your privacy is important to us. We will only share your information, without your consent, with other City of Fort Collins income eligible services to evaluate your eligibility and make applying for these programs easier. </p> 

    <div class="footer">
        <button type="submit"> CONTINUE </button>
    </div>
</form>



{% endblock %}