<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
{% extends 'application/availability_base.html' %}

{% block content %}
    <h1><b>Your address is in the Get:FoCo service area and Connexion is available & ready!</b></h1>
    <p style="margin-top: 2vh;">Click the continue button below to start your application now!</p>
{% endblock %}

{% block footerdiv %}
    <div class="footer" style="width:100%">
        <button onclick="location.href='{% url 'application:getReady' %}'"> CONTINUE </button> 
    </div>
{% endblock %}
