<!-- This brings in the CSS-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>{{ Title }}</title>
        <link href="{% static 'application/styles_app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL59NNQRH0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SL59NNQRH0');
        </script>
    </head>

    <body>
        <div class=nav>
            {% block backurl %}
            {% endblock %}    
        </div>
        <div class="content spaceAround" style="padding: 0 0 0 2vw;">
            {% block content %}
            {% endblock %}

        </div>
        {% block footerdiv %}
        {% endblock %}
    </body>
</html>
