<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
<!-- This brings in the CSS-->
{% load static %}

<!-- TODO: This page should no longer be referenced - ensure it is indeed no longer needed and delete it -->
<!DOCTYPE html>
<html lang="en">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>Call Us</title>
        <link href="{% static 'application/styles_app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL59NNQRH0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SL59NNQRH0');
        </script>
    </head>

    <body>

        {% if is_prod is not True %}
            {% if is_prod is False %}
                {% firstof "TESTING" as db_env_str %}
            {% else %}
                {% firstof "STAGING" as db_env_str %}
            {% endif %}
            <div style="background-color: #FF5E5E; text-align: center; font-size: x-large; ">WARNING: THIS SITE IS FOR {{ db_env_str }} ONLY<br>To enroll in Get FoCo, go to <a href="https://getfoco.fcgov.com" target="_blank">https://getfoco.fcgov.com</a> instead</div>
        {% endif %}
        
        <div class="fadeLarge">
            <div class=nav>
                <a class="row" onClick="window.history.back();return false;">
                    <img src="{% static 'application/images/BackArrow-white.svg' %}" alt="back" style="width:max(4.5vw, 16px); margin-right: 5px;">
                    <p style = "color:white; font-weight: 700;">BACK</p>
                </a>
                <img src="{% static 'application/images/X_white.svg' %}" alt="back" style="width:max(2.6vw, 16px); margin-right: 5px;" onclick="location.href='{% url 'application:index' %}'">
            </div>
        </div>

        <div class="fadeSmall">
            <div class=navClean>
                <a class="row" onClick="window.history.back();return false;">
                    <img src="{% static 'application/images/BackArrow-darkblue.svg' %}" alt="back" style="width:max(4.5vw, 16px); margin-right: 5px;">
                    <p style = "color:#13467D; font-weight: 700;">BACK</p>
                </a>
                <img src="{% static 'application/images/X_gray.svg' %}" alt="back" style="width:max(2.6vw, 16px); margin-right: 5px;" onclick="location.href='{% url 'application:index' %}'">
            </div>
        </div>
        <div class="content spaceAround" style="padding: 0 0 0 3vw;">
            <!--NOTE: For the future have numbers change based on database-->
            <h2><b>We need some more information to set you up with the Grocery Rebate Program, please give us a call at: 970-416-2304 or email us at <a class=yellow href="mailto:groceryrebates@fcgov.com"><u>groceryrebates@fcgov.com!</u></a></b></h2>
                <!--Whatever I need in the other pages, I can enter it here-->

        </div>
        <div class="footer" style="width:100%">
            <button onclick="location.href='{% url 'dashboard:dashboard' %}'"> CONTINUE </button>
        </div>
    </body>
</html>

