<!-- This brings in the CSS-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>GetYour: Connexion</title>
        <link href="{% static 'application/styles_app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class=nav>
            <a href="{% url 'application:index' %}" style="margin-left:auto; margin-right:10px">
                <p style = "color:white; font-weight: 700;">EXIT</p>
            </a>        
        </div>
        <div class="content spaceAround" style="padding: 0 0 0 2vw;">
            <h1 style="color:white"><b>Connexion is available & ready in your neighborhood!</b></h1>
            <!--Whatever I need in the other pages, I can enter it here-->
            <p style="color:white; margin-top: 2vh;">Click the continue button below to start your application now!</p>
        

        </div>
        <div class="footer" style="width:100vw">
            <button onclick="location.href='{% url 'application:account' %}'"> CONTINUE </button>
        </div>
    </body>
</html>
