<!-- This brings in the CSS-->
{% load static %}

<!DOCTYPE html>
<html lang="en" style ="background-color: white;">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>GetYour: Connexion</title>
        <link href="{% static 'application/styles_app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="background-color: white;">
        <div class=nav>
            <a href="{% url 'application:index' %}" style="margin-left:auto; margin-right:10px">
                <p style = "color:#999999; font-weight: 700;">EXIT</p>
            </a>        
        </div>
        <div class="content spaceAround">
            <h1 style="color:var(--yellow)"><b>Connexion is not quite ready to go where you are.</b></h1>
            <p style="color:#999999; margin-top: 2vh;">Stay updated for when Connexion will be available for you & your neighborhood.</p>
            
            <form action="{% url 'application:notAvailable' %}" method="post" autocomplete="false" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input" style = "width:100%; margin-top:5vh;">
                    <!--TODO: change this to dropdown menu with data-->
                    <input class="fill" name="{{ form.email.name }}"
                        id="{{ form.email.id_for_label }}"
                        maxlength="{{ form.email.max_length }}"
                        type="text" 
                        style="width:100%;border-bottom:1px solid #999999;background-color: white;color:var(--darkblue)" 
                        required  
                        autocomplete="off">
                    <label class="label" style="color:#999999">{{ form.email.label }}</label>    
                </div>
                <div class="footer" style = "background-color: white;">
                    <button type="submit" style="padding:10px"> SUBSCRIBE TO UPDATES </button>
                </div>
            </form>             

        </div>
    </body>
</html>
