{% extends "application/layout.html" %}
{% load static %}
{% block body %}
<div class=sideNav>
    <div class=fadeSmall>
        <h1 style="font-weight: 700; margin:5vh 0; padding-top: 20px;"> Share basic information about your income </h1>
        <p>These questions are not stored or shared with anyone. They are meant to determine potential assistance programs you may qualify for.</p>
        <p><a href="{% url 'application:dependentInfo' %}"><img src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px);"></a> 
            “Household” means the applicant and any other people claimed on your federal tax return.
            <br>
            This could include your spouse, and your children by birth or adoption, step children, foster children and children under legal guardianship who live with you in your home as submited on your federal income tax return. 
        </p>
    </div>
</div>
<div class=fadeLarge><h2 style="font-weight: 700; margin:5vh 0"> Please share basic information about your income </h2></div>


<form action="{% url 'application:finances' %}" method="post" autocomplete="false">
    {% csrf_token %}
    <!-- TODO: Make it yes or no not checkbox-->
    <div class="input" style="padding-top:0">
        <label class="labelword">Do you currently rent or own your home?</label>
        <div class="row" style="justify-content:left; padding-top:5%">
            {% for choice in form.rent %}
                <label for="{{choice.id_for_label}}" class="row" style="padding-right: 5%;">
                    <span class="radio">{{ choice.tag }}</span>
                    <p>{{ choice.choice_label }}</p>
                </label>
            {% endfor %}
        </div> 
    </div>
    {% for field in form %}
        {% if field.label == "Rent" %}
        {% elif field.label == 'Number of Dependents' %}
        <div class="input">
            <!-- Below is code to be able to toggle text to visible and invisible and also an animation for text to appear, to be used possibly for dependents
            <a href="#" onclick="toggle_visibility('foo');">Click here to toggle visibility of element #foo</a>
            <div id="foo">This is foo</div>
            <h1 class="animate__animated animate__bounce">An animated element</h1>
            -->
            <label class="labelword"style="position:relative">How many individuals are in your household?</label>  <a href="{% url 'application:dependentInfo' %}"><img src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px);"></a>
            <input class="fill" type="text" name="{{ field.name }}" id="{{ field.id_for_label}}" value ="0" style="height: 3vh;">
        </div>
        {% else %}
        <div class="input">
            <label class="labelword" style="position:relative">How much is your gross annual household income?</label> 
            <br>
            <select name="{{ field.name }}" id="{{ field.id_for_label}}">
            {% for option in field %}
                <option style="background-color: var(--white);" value="{{ option.choice_label }}"> {{ option.choice_label }} </option>
            {% endfor %}
            </select>
        </div>
        {% endif %}
    {% endfor %}
    <div class="footer">
        <button type="submit"> CONTINUE </button>
    </div>
</form>
{% endblock %}