<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
{% extends "application/layout.html" %}
{% load static %}
{% block body %}
<div class=sideNav>
    <div class=fadeSmall>
      <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoWhite-01.png' %}">
        <h1 style="font-weight: 700; margin:2vh 0; padding-top: 0px;"> Share basic information about your income </h1>
        <p>Your information will not be shared with anyone outside of the departments of City of Fort Collins' income eligible programs. They are meant to determine potential assistance programs you may qualify for.</p>
        <p><a href="{% url 'application:dependentInfo' %}" style="color: white;">What does "Household" mean<img src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px);"></a></p> 
    </div>
</div>
<div class=fadeLarge><h2 style="font-weight: 700; margin:5vh 0"> Please share basic information about your income </h2></div>

<form action="{% url 'application:householdMembers' %}" method="post" autocomplete="false">
    {% csrf_token %}
    
    <div >
        <label class="labelword">You indicated you had {{ dependent }} individual(s) in your household, what are their names and birthdates?</label>
    </div>

    {% for number in list %}
        {{form}}
    {% endfor %}

    <div class="footer">
        {% if update_mode is True %}
            <input type="hidden" name="update_mode" value="true">
            <button type ="submit" > CONFIRM </button>
        {% else %}
            <button type ="submit" > CONTINUE </button>
        {% endif %}
    </div>
</form>

<style>
    label[for="id_name"] {
        margin-top: 35px;
    }
</style>

<script>
    var update_mode = {{ update_mode|yesno:"true,false" }};
    var formData = JSON.parse('{{ form_data | escapejs }}');

    var household_names = document.getElementsByName("name");
    var household_birthdates = document.getElementsByName("birthdate");

    if (update_mode) {
        // Check if the new number of household members is different from the old number of household members
        // If it is let the user know to check over the names and birthdates
        if (household_names.length !== formData.persons_in_household.length) {
            Swal.fire({
                title: 'Household Information',
                text: 'The members of your household have changed since you last submitted your application. Please make sure their names and birthdays are up to date.',
                icon: 'info',
                confirmButtonText: 'Ok',
                confirmButtonColor: '#13467D'
            });
        }
    }

    try {
        for (var i = 0; i < household_names.length; i++) {
            if (formData.persons_in_household[i]) {
                household_names[i].value = formData.persons_in_household[i].name;
                household_birthdates[i].value = formData.persons_in_household[i].birthdate;
            }
        }
    } catch (error) {
        console.warn("User had no household members to prefill form");
    }

</script>
{% endblock %}