<!-- This brings in the CSS-->
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>GetYour: Connexion</title>
        <link href="{% static 'application/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <!-- TODO: make a message to only look at this on mobile-->


    <body style="margin:0; padding:0">
        
        <!--NAVBAR-->
        <div id=full-nav>
                <!-- NEED TO DEVELOP: DROPDOWN MENU FOR LANGUAGES-->
                <!-- Sample menu definition -->
                <ul class=navUl>
                    <li style="margin-left:15px" class=nav >
                        <a class="link" href="">ENGLISH</a>
                    </li>
                    <div class="row">
                        <li class=nav>
                        <!--TODO: MAKE SURE THIS LINK WORKS-->
                            <a class="link" href="{% url 'dashboard:login' %}">LOG IN</a>
                        </li>
                        <!--TODO: MAKE SURE THIS BUTTON WORKS-->
                            <button onclick="location.href='{% url 'application:account' %}'"><b>APPLY</b></button>
                    </div>
                </ul>
        </div>
        <div class=bluemain style="margin:0">
            <h1 style="color:white">This is</h1>
            <h1 style="color:white"><b>GetYour: <u class=yellow style=>Connexion</u></b></h1>
            <p style="color:white"> An all-in-one application portal working in conjunction with Fort Collin’s Connexion municipal broadband services. </p>
        </div>
        <div class=whitemain>
            <h2 style="text-align:center"><b>How it Works</b></h2>
            <p>With GetYour: Connexion, you’ll be able 
                to do more with your government program 
                applications than ever before.</p>
            <div class="column">
                <div class="row"  style = "justify-content: space-around;">
                    <div class="img">
                        <img src="{% static 'application/images/control.png' %}" alt="Control" style="width:100%">
                    </div>
                    <div class="wordblock">
                        <p style="margin-top:0;"><b>Control Your application</b></p>
                        <p>Manage applications in real 
                            time with up-to-date 
                            application status.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row" style = "justify-content: space-around;">
                    <div class="img">
                        <img src="{% static 'application/images/save.png' %}" alt="Save" style="width:100%">
                    </div>
                    <div class="wordblock">
                        <p style="margin-top:0;"><b>Do more, save more</b></p>
                        <p>If you qualify, you’ll get access 
                            to specific Connexion  
                            programs that are tailored to 
                            save you major money.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row"  style = "justify-content: space-around;">
                    <div class="img">
                        <img src="{% static 'application/images/forget.png' %}" alt="forget" style="width:100%">
                    </div>
                    <div class="wordblock">
                        <p style="margin-top:0;"><b>Forget “forgetting”</b></p>
                        <p>Never forget to renew your 
                            application ever again with 
                            easy reminders– making information 
                            updates a breeze.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row"  style = "justify-content: space-around;">
                    <div class="img">
                        <img src="{% static 'application/images/know.png' %}" alt="know" style="width:100%">
                    </div>
                    <div class="wordblock">
                        <p style="margin-top:0;"><b>Stay in the know</b></p>
                        <p>Be informed with the latest
                            news & updates from both
                            Connexion & the city.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="intrigued">
            <h2 style="color:white">Intrigued?</h2>
            <p style="color:white">Check if you qualify & if connexion 
                is available in your neighborhood</p>
                <!--TODO: Save input and add logic for checking zipcode-->
                
                <form action="{% url 'application:index' %}" method="post" autocomplete="false" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" style="margin: 30px 0 0 0;">
                        <div class="input" style = "width:100%">
                            <!--TODO: change this to dropdown menu with data-->
                            <input class="fill" name="{{ form.zipCode.name }}"
                                id="{{ form.zipCode.id_for_label }}"
                                maxlength="{{ form.zipCode.max_length }}"
                                type="text" 
                                style="width:100%;" 
                                required  
                                autocomplete="off">
                            <label class="label">{{ form.zipCode.label }}</label>    
                        </div>
                        <button style="background-color:var(--darkblue);padding: 5px 35px; margin: 15px 0 0 10px; height:40px;font-weight: 700;" type="submit"> ENTER </button>
                    </div>
                </form>
                <!--
                <button id="open-popup-1" style="background-color:var(--darkblue);padding: 5px 35px; margin: 15px 0 0 10px; height:40px;"><b>ENTER</b></button>
                    -->
            <p class="link" style="margin:0; padding-top: 10%;">Service brought to you by the City of Fort Collins</p>
        </div>
        
        <!--TODO: Make another popup for when they are good to submit to digital equity-->
        <!--TODO: make suure popup only comes up when  address is wrong-->
        <div id="popup-1">
            <div class="popup-content">
                <img src="{% static 'application/images/X_gray.svg' %}" alt="back" style="width:5vw; top:20px;right:20px;position:absolute" onclick="location.href='{% url 'application:index' %}'">
                <div>
                    <h1 style="color:var(--yellow)"><b>Connexion is not quite ready to go where you are.</b></h1>
                    <p>Stay updated for when Connexion will be available for you & your neighborhood.</p>
                </div>
                <div class="input">
                    <!--TODO: Save input-->
                    
                    <input type="text" style="width:100%;border-bottom:1px solid#888; background-color: white;" required>
                    
                    <label style="color:#888">Email Address</label>    
                </div>
                <button id="close-popup-1" style="background-color:var(--lightblue);padding: 5px 35px; width:100%;"><b>SUSCRIBE TO UPDATES</b></button>
            </div>
        </div>
        <!--POPUP JAVASCRIPT CODE-->
        <script>
            var popup1 = document.getElementById("popup-1");
            var openPopup1 = document.getElementById("open-popup-1");
            var closePopup1 = document.getElementById('close-popup-1');
            console.log(5);
            openPopup1.addEventListener('click', () => {
                popup1.style.display = "block";
                console.log(6);
            })

            closePopup1.addEventListener('click', () => {
                popup1.style.display = "none";
                console.log(7);
            })
        </script>
    </body>
</html>
