{% extends "application/layout.html" %}
{% load static %}
{% block body %}
<div class=sideNav>
    <div class=fadeSmall>
      <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoGold-01.png' %}">
        <h1 style="font-weight: 700; margin:2vh 0; padding-top: 0px;"> Share basic information about your income </h1>
        <p>Your information will not be shared with anyone outside of the departments of City of Fort Collins' income eligible programs. They are meant to determine potential assistance programs you may qualify for.</p>
        <p><a href="{% url 'application:dependentInfo' %}"><img src="{% static 'application/images/clipart249308.png' %}" alt="back" style="width:min(4.5vw,20px);"></a> 
            “Household” means the applicant and any other people claimed on your federal tax return.
            <br>
            This could include your spouse, and your children by birth or adoption, step children, foster children and children under legal guardianship who live with you in your home as submitted on your federal income tax return. 
        </p>
    </div>
</div>
<div class=fadeLarge><h2 style="font-weight: 700; margin:5vh 0"> Please share basic information about your income </h2></div>


<form action="{% url 'application:moreInfoNeeded' %}" method="post" autocomplete="false">
    {% csrf_token %}
    <!-- TODO: Make it yes or no not checkbox-->
    <div class="input" style="padding-top:0">
        <label class="labelword">You indicated you had {{ dependent }} individual(s) in your household, what are their names and birthdates?</label>
    </div>
    {% for number in list %}
        <br>
        <br>
        {{form}}
        <br>
        <br>
        <br>
        <Br>
    <!--
        <div class="input">
            <input type="checkbox" id="notChild{{forloop.counter}}" name="notChild" onclick="toggle()" style="vertical-align: middle; display: inline-block;"> Click here if over 18 years old.
            <input class="fill" type="date" name="{{ field.name }}" id="{{forloop.counter}} " style="height: 3vh;"> 
        </div>
    -->
    {% endfor %}

    <button type ="submit" style="display: flex; justify-content: center; position: absolute;" > CONTINUE </button>
</form>



<script>
    function toggle() {
      var x = document.getElementById("notChild{{forloop.counter}}");
      var text = document.getElementById("{{forloop.counter}}");
      if (x.checked == true) {
        text.style.display = "block";
      } else {
        text.style.display = "none";
      }
    }
</script>

{% endblock %}