<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
<!-- This brings in the CSS-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!--Get the various stylesheets I need like my fonts and CSS-->
    <head>
        <title>{{ Title }}</title>
        <link href="{% static 'application/styles_app.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SL59NNQRH0"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SL59NNQRH0');
        </script>
    </head>

    <body>

        {% if is_prod is False %}
            <div style="background-color: #FF5E5E; text-align: center; font-size: x-large; ">WARNING: THIS SITE IS FOR TESTING ONLY<br>To enroll in Get FoCo, go to <a href="https://getfoco.fcgov.com" target="_blank">https://getfoco.fcgov.com</a> instead</div>
        {% endif %}
        
        <div class="content spaceAround" style="padding: 0 0 0 2vw;">
    
        <h1><b>Your address wasn't found in our service area, so we can't extend support to you.</b></h1>
        <p style="margin-top: 2vh;">If you think this is in error, please press "Back to Address". For further help please call: 970-221-8090.</p>
        </div>
    </body>

{% block footerdiv %}
    <div class="footer" style="width:100%">
        <button onclick="location.href='{% url 'application:address' %}'"> BACK TO ADDRESS </button>
    </div>     
{% endblock %}
