{% extends 'application/availability_base.html' %}

{% block content %}
    <h1><b>Your address wasn't found in our service area, so we can't extend support to you.</b></h1>
    <p style="margin-top: 2vh;">If you think this is in error, please press back and re-enter your address. For further help please call: 970-416-2304.</p>
{% endblock %}

{% block footerdiv %}
    <div class="footer" style="width:100%">
        <button onclick="location.href='{% url 'application:index' %}'"> EXIT </button>
    </div>     
{% endblock %}
