{% extends "application/layout.html" %}

{% block body %}
<h2 style="font-weight: 700;color:white; margin:5vh 0"> What is your address? </h2>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:100%;" required>
    
    <label>Address</label>    
</div>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:100%;" required>
    
    <label>Apartment, Suite, etc</label>    
</div>
<div class ="row">
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:70%;" required>
    
    <label>Zip Code</label>    
</div>
<div class="input">
    <!--TODO: Save input, and change this to dropdown menu with data-->
    <input type="text" style="width:70%;" required>
    
    <label>State</label>    
</div>
</div>
{% endblock %}