{% extends "application/layout.html" %}

{% block body %}
<h2 style="font-weight: 700;color:white; margin:5vh 0"> Create an Account </h2>
<div class = row>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:70%;" required>
    
    <label>First Name</label>    
</div>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:70%;" required>
    
    <label>Last Name</label>    
</div>
</div>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:100%;" required>
    
    <label>Email Address</label>    
</div>
<div class="input">
    <!--TODO: Save input-->
    <input type="text" style="width:100%;" required>
    
    <label>Password</label>    
</div>
<div class="input">
    <!--TODO: Save input, and change this to dropdown menu with data-->
    <input type="text" style="width:100%;" required>
    
    <label>Confirm Password</label>    
</div>
{% endblock %}