{% extends 'application/availability_base.html' %}

{% block content %}       
    <div class="content spaceAround">
        <!--NOTE: For the future have numbers change based on database-->
        <h1><b>Thank you for quick applying to the Grocery Rebate Tax program! We'll let you know when you've been enrolled.</b></h1>
            <!--Whatever I need in the other pages, I can enter it here-->

    </div>
{% endblock %}

{% block footerdiv %}
    <div class="footer">
        <button onclick="location.href='{% url 'dashboard:dashboard' %}'"> CONTINUE </button>
    </div>
{% endblock %}