<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
{% extends 'application/availability_base.html' %}

{% block backurl %}
    <a class="row" href="{% url 'application:index' %}#Check Availability">
        <p style = " font-weight: 700;">BACK</p>
    </a>
{% endblock %}

{% block content %}
    <h1><b>Your address couldn't be found with this method.</b></h1>
    <p style="margin-top: 2vh;">Please press back and re-enter your address or press the continue button below to fill out the application with more detailed information.</p>
{% endblock %}

{% block footerdiv %}
    <div class="footer" style="width:100%">
        <button onclick="location.href='{% url 'application:getReady' %}'"><b>APPLY</b></button>
    </div>
{% endblock %}
