{% extends 'application/comingSoon_base.html' %}

{% block backurl %}
    <a href="{% url 'application:index' %}" style="margin-left:auto; margin-right:10px; text-decoration: none;">
        <p class=p2 alt="back" style="margin-left:auto; margin-right: 5px;" onclick="location.href='{% url 'application:index' %}'">EXIT</p>
    </a>    
{% endblock %}

{% block maintext %}
    <h1 style="overflow: hidden; padding: auto;"><b>Your address is covered by Get FoCo but Connexion is not quite ready.</b></h1>
    <p style="margin-top: 2vh;">Subscribe for updates when Connexion will be available for your address, and/or continue to the application to pre-enroll. If the box is checked, you'll be enrolled in Connexion updates once you Quick Apply for Reduced-Rate Connexion after completing the application.</p>  
{% endblock %}