<!-- This brings in the CSS-->

{% extends "application/layout.html" %}

{% block body %}

<!--Get the various stylesheets I need like my fonts and CSS-->

<div class="content spaceAround">
    <!--NOTE: For the future have numbers change based on database-->
    <h1 style="color:white"><b>We sent you an email!</b></h1>
    <br>
    <p style="color:white">Please verify your email by clicking the link sent to: fakeemail@gmail.com </p>
    <br>
    <p style="color:white">Didn't get an email from us?</p>
    <br>

    <u class=yellow style=>Resend verification link</u></b>
        <!--Whatever I need in the other pages, I can enter it here-->

        <div class="footer">
            <button type="submit"> Verify later </button>


</div>



{% endblock %}




