/*
*This program is free software: you can redistribute it and/or modify
*it under the terms of the GNU General Public License as published by
*the Free Software Foundation, either version 3 of the License, or
*(at your option) any later version
*/
/*This may not work for internet explorer, the colors*/
:root {
    --darkblue: #13467D;
    --lightblue: #55A1D3;
    --orange: #F27B1F;
    --yellow: #F9B316;
    --gray: #999999;
}

@media screen and (min-width : 768px) {
    
    .fadeLarge {
        display: none;
    }
    .column {
        float: left;
        width: 50%
    }
    .row {
        display:flex;
        justify-content: space-around;
        width: 100%;
        padding: 10% 0%;
    }  

    .img{
        display:inline-block;
        width:30%;
        height:100%;
        vertical-align: middle;
        line-height: normal;
    }

    @media (max-width: 1000px) {
        .column {
            float: none;
            width: 100%
        }
    }
    /*Like the Montserrat font*/
    html,body {
        font-family: Montserrat;
        font-style: normal;
        overflow-x: hidden; 
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    /*Keep floating contents inside respective parents*/
    div{
        position: relative;
        overflow: hidden;
    }
    /*Set up font sizes*/
    h1 {
        font-size: max(4vw, 25px);
        margin-bottom:1px;
        margin-top: 0px;
        font-family: Montserrat;
        font-weight: 400;
        color: var(--darkblue);
    }
    .yellow{
        color: var(--yellow)
    }
    h2 {
        font-size: max(3.8vw, 20px);
        color:var(--darkblue);
    }
    h3 {
        font-size: max(3vw, 16px);
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }

    p {
        font-size: max(2vw, 14px);
    }
    .p2 {
        color:white;
        font-size:20px;
    }
    .p3{
        color:var(--yellow);
        font-size: 20px;
    }

    /*button background*/
    button {
        font-family: Montserrat;
        background-color: var(--lightblue);
        border-radius: 3vw;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 55px;
        font-size: max(2vw, 14px);
    }
    .quickapply {
        background-color: var(--red);
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 6vh;
        font-size: max(3.8vw, 16px);
    }


    /*Backgrounds for homepage*/
    .bluemain{
        background-color: var(--darkblue);
        /*padding takes some of the width, this ensures nothing overflows*/
        width: 90% !important;
        flex-direction: column;
        padding: 5% 5%;
        justify-content: center;
        margin:0;
    }
    .programsListmain{
        background-color: var(--darkblue);
        width: 84% !important;
        flex-direction: column;
        padding: 5% 8%;
        justify-content: center;
    }



    .exploreDiv{
        /*padding takes some of the width, this ensures nothing overflows*/
        background-color: rgb(255, 255, 255,0.1);
        border-radius:25px;
        height:40vw;
        overflow-y:scroll;
    }

    .exploreDivPrograms{
        background-color: rgb(255, 255, 255,0.1);
        border-radius:10px;
        
        width: 75% !important;
        padding: 2% 8%;
        margin:40px auto;
        justify-content: center;
    }

    .exploreDivPrograms span {
        margin-left: 50px;
    }
    .whitemain{
        background-color: var(--darkblue);
        width: 84% !important;
        flex-direction: column;
        padding: 5% 8%;
        justify-content: center;
        color:white
    }

    .wordblock{
        display:inline-block;
        width: 60%;
    }

    .intrigued{
        background-color: var(--lightblue);
        /*padding takes some of the width, this ensures nothing overflows*/
        width: 80% !important;
        flex-direction: column;
        padding: 10%;
        justify-content: center;
        margin:0;
    }

    /*scroll bar, works with Chrome, Edge, Safar and Opera*/
    /* Track */
    body::-webkit-scrollbar-track {
        background-color: none; 
        background:blue;
    }
    body::-webkit-scrollbar {
        width: 0px;
        border-radius:10px;
        background: none;
      }

    div::-webkit-scrollbar-track {
        background-color: none; 
        background:none;
    }
    div::-webkit-scrollbar {
        width: 7px;
        background: none;
      }
    div::-webkit-scrollbar-thumb {
        border-radius:15px;
        background: rgba(84, 160, 210, 0.6);
      }
    div::-webkit-scrollbar-track-piece{
        background: none;
        margin:20px;
    } 
    /*Every styling feature below is for the navigation bar --------------------------*/

    /*the ul that holds the navbar links list*/
    .navUl {
        margin:0;
        padding: 6% 0% 6% 3%;
        vertical-align: middle;
        /*make list horizontal*/
        display: flex;
        flex-direction: row;
        height: 7vh;

    }
    #full-nav {
        margin: 0;
        background-color: var(--darkblue);
        width: 100%;
        height: 100%;
        border-color: var(--darkblue);
    }

    /*Need this to not have the bullet point on the lists*/
    .nav {
        display: inline;
        padding: 10px 0px;
    }

    
    .navClean{
        display:flex;
        justify-content: space-between;
        width: 90%;
        padding: 5% 5%;
    }


    /*styles for the links on navbar*/
    .link{
        font-size: max(2vw, 14px);
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        margin-right: 20px;
    }
    .navLink{
        font-size: max(2vw, 14px);
        color: var(--lightblue);
        text-decoration: none;
        margin-right: 20px;
    }

    /*whenever i need to make a row*/
    .row{
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-left: auto;
        padding: 0;
        
    }

    /*ALL THINGS BELOW ARE FOR INPUTS*/
    .input{
        position: relative;
        padding: 30px 0px;
        /*need height to be 100%*/
    }
    input{
        font-size: max(2vw, 14px);
        padding:5px;
        font-weight: 700;
        display:block;
        border:none;
        color:var(--yellow);
        background-color: var(--lightblue);
        border-bottom:1px solid white;
    }
    input:focus { outline:none; }
    label{
        /*This pushed the words away*/
        position:absolute;
        color:white;
        font-size: max(2vw, 14px);
        left:5px;
        top:25px;
        pointer-events: none;
        transition:0.2s ease-in-out; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        
    }
    
    input:focus ~ label, input:valid ~ label {
        transform:translateY(-30px);
    }

    /*POPUP MODAL --------------------------------*/

    #popup-1 {
        display: none;
    /*	background-color: rgba(0,0,0,0.5);*/
        position: absolute;
        height: 100vh;
        width: 100%;
        bottom: 0px;
        z-index:1;
        transition: bottom 1s;
    }
    .popup-content {
        position: relative;
        padding: 10vh 20px 10vh 20px;
        flex-direction: columnn;
        margin: auto;
        background-color: white;
        vertical-align: center;
        width: 80%;
        height: 50%;
        justify-content: space-around;
        align-items: center;
        top: 5vh;
        -webkit-box-shadow: 0px 0px 10px 5px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 10px 5px #888;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 10px 5px #888; 
    }

}


@media screen and (max-width : 767px) {
    .fadeSmall {
        display: none;
    }
    .column {
        float: left;
        width: 50%
    }
    .row {
        display:flex;
        justify-content: space-around;
        width: 100%;
        padding: 10% 0%;
    }  

    .img{
        display:inline-block;
        width:30%;
        height:100%;
        vertical-align: middle;
        line-height: normal;
    }

    /*@media (max-width: 1000px) {*/
        .column {
            float: none;
            width: 100%
        }
    /*}*/
    /*Like the Montserrat font*/
    html,body {
        font-family: Montserrat;
        font-style: normal;
        overflow-x: hidden; 
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    /*Keep floating contents inside respective parents*/
    div{
        position: relative;
        overflow: hidden;
    }
    /*Set up font sizes*/
    h1 {
        font-size: max(5.9vw, 15px);
        margin-bottom:1px;
        margin-top: 0px;
        font-family: Montserrat;
        font-weight: 400;
        color: white;
    }
    .yellow{
        color: var(--yellow)
    }
    h2 {
        font-size: max(5vw, 24px);
        color:white;
    }
    h3 {
        font-size: max(4vw, 16px);
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }

    p {
        font-size: max(3.8vw, 16px);
    }

    /*button background*/
    button {
        font-family: Montserrat;
        background-color: var(--lightblue);
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 45px;
        font-size: max(3.8vw, 16px);
    }
    .quickapply {
        background-color: var(--red);
        border-radius: 3vh;
        padding: 5px 40px;
        border:none;
        outline: none;
        box-shadow: none;
        color:white;
        height: 6vh;
        font-size: max(3.8vw, 16px);
    }
    /*Backgrounds for homepage*/
    .bluemain{
        background-color: var(--darkblue);
        /*padding takes some of the width, this ensures nothing overflows*/
        width: 90% !important;
        flex-direction: column;
        padding: 20% 5%;
        justify-content: center;
        margin:0;
    }
    .programsListmain{
        background-color: var(--lightblue);
        width: 84% !important;
        flex-direction: column;
        padding: 5% 8%;
        justify-content: center;
    }
    .whitemain{
        background-color: white;
        width: 84% !important;
        flex-direction: column;
        padding: 5% 8%;
        justify-content: center;
    }

    .wordblock{
        display:inline-block;
        width: 60%;
    }

    .intrigued{
        background-color: var(--lightblue);
        /*padding takes some of the width, this ensures nothing overflows*/
        width: 80% !important;
        flex-direction: column;
        padding: 10%;
        justify-content: center;
        margin:0;
    }
    /*Every styling feature below is for the navigation bar --------------------------*/

    /*the ul that holds the navbar links list*/
    .navUl {
        margin:0;
        padding: 6% 0% 6% 3%;
        vertical-align: middle;
        /*make list horizontal*/
        display: flex;
        flex-direction: row;
        height: 7vh;

    }
    #full-nav {
        margin: 0;
        background-color: var(--darkblue);
        width: 100%;
        height: 100%;
        border-color: var(--darkblue);
    }

    /*Need this to not have the bullet point on the lists*/
    .nav {
        display: inline;
        padding: 10px 0px;
    }

    /*styles for the links on navbar*/
    .link{
        font-size: max(3.8vw, 16px);
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        margin-right: 20px;
    }
    .navLink{
        display: none;
    }

    /*whenever i need to make a row*/
    .row{
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-left: auto;
        padding: 0;
        
    }

    /*ALL THINGS BELOW ARE FOR INPUTS*/
    .input{
        position: relative;
        padding: 20px 0px;
        /*need height to be 100%*/
    }
    input{
        font-size: 16px;
        padding:5px;
        font-weight: 700;
        display:block;
        border:none;
        color:var(--yellow);
        background-color: var(--lightblue);
        border-bottom:1px solid white;
    }
    input:focus { outline:none; }
    label{
        /*This pushed the words away*/
        position:absolute;
        color:white;
        font-size: 12px;
        left:5px;
        top:20px;
        pointer-events: none;
        transition:0.2s ease-in-out; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        
    }
    
    input:focus ~ label, input:valid ~ label {
        transform:translateY(-20px);
    }

    /*POPUP MODAL --------------------------------*/

    #popup-1 {
        display: none;
    /*	background-color: rgba(0,0,0,0.5);*/
        position: absolute;
        height: 100vh;
        width: 100%;
        bottom: 0px;
        z-index:1;
        transition: bottom 1s;
    }
    .popup-content {
        position: relative;
        padding: 10vh 20px 10vh 20px;
        flex-direction: columnn;
        margin: auto;
        background-color: white;
        vertical-align: center;
        width: 80%;
        height: 50%;
        justify-content: space-around;
        align-items: center;
        top: 5vh;
        -webkit-box-shadow: 0px 0px 10px 5px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 10px 5px #888;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 10px 5px #888; 
    }
}

.extraspace{
    width:10%;
    height:12vh;
}