{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Program Form - Get FoCo{% endblock %}

{% block content %}
    <div class="my-3 card shadow-sm">
        <div class="card-body">
            <form action="{% url 'program_form' %}" method="post">
                {% csrf_token %}
                {{ address_form_set.management_form }}
                <fieldset>
                    <legend class="border-bottom">Account Information</legend>
                    <div class="row">
                        {% for field in user_form %}
                            <div class="mb-3 col-12 col-md-6">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                            {% endif %}
                            <ul class="mb-0 errorlist list-unstyled">
                                {% for error in field.errors %}
                                  <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
                {{ address_form_set.non_form_errors }}
                {% for address_form in address_form_set %}
                    {{ address_form.non_field_errors }}
                    {% if forloop.counter0 == 0 %}
                    <fieldset>
                        <legend class="border-bottom">Home Address Information</legend>
                        <div class="row">
                            {% for field in address_form %}
                                {% if not field.is_hidden %}
                                {{ address_form.id }}
                                <div class="mb-3 col-12 col-md-6">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                <ul class="mb-0 errorlist list-unstyled">
                                    {% for error in field.errors %}
                                      <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% else %}
                                {{ field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-3 col-12 col-md-6">
                            <p class="mb-1">Is your mailing address the same as your home address?</p>
                            {% for field in same_address_form %}
                                {% for radio in same_address_form.mailing_address_same_as_home %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label for="{{ radio.id_for_label }}" class="form-check-label">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                <ul class="mb-0 errorlist list-unstyled">
                                    {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% else %}
                    <fieldset id="mailing_address_information" class="d-none">
                        <legend class="border-bottom">Mailing Address Information</legend>
                        <div class="row">
                            {% for field in address_form %}
                                {% if not field.is_hidden %}
                                {{ address_form.id }}
                                <div class="mb-3 col-12 col-md-6">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                <ul class="mb-0 errorlist list-unstyled">
                                    {% for error in field.errors %}
                                      <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                </div>
                                {% else %}
                                {{ field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% endif %}
                {% endfor %}
                <fieldset>
                    <legend class="border-bottom">Household Information</legend>
                    <div class="row">
                        {% for field in household_form %}
                            {% if not field.is_hidden %}
                            <div class="mb-3 col-12 col-md-6">
                                    {{ field.label_tag }}
                                    {{ field }}
                                {% if field.help_text %}
                                <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                <ul class="mb-0 errorlist list-unstyled">
                                    {% for error in field.errors %}
                                    <li class="text-danger">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% else %}
                            {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="app">
                        <div class="row">
                            <div class="mb-3 text-center">
                                <div class="mb-2 py-1 alert alert-warning"><i class="me-1 bi bi-exclamation-circle-fill text-danger"></i>Please, add all household members below.</div>
                                <button type="button" class="btn btn-sm btn-outline-secondary shadow-sm" @click.prevent="addFamilyMember">Add Family Member</button>
                            </div>
                            <div v-for="(item, index) in familyMembers" :key="item.id" class="mb-3 col-12 col-md-6">
                                <p class="mb-1 pb-1 d-flex justify-content-between align-items-center border-bottom"><span class="fw-semibold">Family Member [[ item.id + 1 ]]</span> <span v-if="item.id > 0" role="button" class="badge text-bg-danger" @click="removeFamilyMember(index)">Remove</span></p>
                                <input type="hidden" :value="item.id">
                                <div class="mb-3">
                                    <label :for="'full_name_' + item.id" class="form-label">Full Name</label>
                                    <input type="text" :name="'full_name_' + item.id" :id="'full_name_' + item.id" class="form-control shadow-sm" :value="item.fullName">
                                </div>
                                <div class="mb-3">
                                    <label :for="'birth_date_' + item.id" class="form-label">Birth Date</label>
                                    <input type="date" :name="'birth_date_' + item.id" :id="'birth_date_' + item.id" class="form-control shadow-sm" :value="item.birthDate">
                                </div>
                                <div>
                                    <label :for="'identification_path_' + item.id" class="form-label">Upload ID</label>
                                    <input type="file" :name="'identification_path_' + item.id" :id="'identification_path_' + item.id" class="form-control shadow-sm" :value="item.identificationPath" accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr class="my-3">
                <button class="me-2 btn btn-primary" type="submit">Save Information</button>
                <a href="{% url 'dashboard' %}">Cancel</a>
            </form>
        </div>
    </div>

    {{ userJson|json_script:"user" }}
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                // hack to get json data from Django response
                const user = JSON.parse($('#user').text());
                // hopefully, can do this as user.household.members instead
                const familyMembers = ref([
                    {
                        id: 0,
                        fullName: user.first_name + ' ' + user.last_name,
                        birthDate: '',
                        identificationPath: ''
                    }
                ]);

                function addFamilyMember() {
                    familyMembers.value.push({
                        id: familyMembers.value.length,
                        fullName: '',
                        birthDate: '',
                        identificationPath: ''
                    })
                }

                function removeFamilyMember(objIndex) {
                    if (familyMembers.value.length > 1) {
                        familyMembers.value.splice(objIndex,1);
                    }
                }

                return {
                    user,
                    familyMembers,
                    addFamilyMember,
                    removeFamilyMember
                }
            }
        }).mount('#app')

        if ($('#id_mailing_address_same_as_home_1').prop('checked')) {
            $('#mailing_address_information').removeClass('d-none');
        }

        $('input[name^=mailing_address]').on('change', function() {
            if ($('#id_mailing_address_same_as_home_0').prop('checked')) {
                $('#mailing_address_information').addClass('d-none');
            } else {
                $('#mailing_address_information').removeClass('d-none');
            }
        });

        $('#id_user-phone_number').on('input', function () {
            var x = $(this).val().replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            $(this).val(!x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : ''));
        });
        
        {% comment %} $(function () {
            $('.step').on('click', function() {
                let el = $(this),
                    clickedElementId = el.prop('id'),
                    fieldsetId = clickedElementId.substring(0, clickedElementId.lastIndexOf('_')),
                    fieldset = $('#' + fieldsetId);
                
                el.addClass('active');
                el.siblings().removeClass('active');
                fieldset.removeClass('d-none');
                fieldset.siblings().addClass('d-none');
            });
        }) {% endcomment %}
        {% comment %} document.addEventListener("DOMContentLoaded", function() {
            var submitButton = document.querySelector("button[type=submit]");
            submitButton.addEventListener('click', function (e) {
                var spinner = document.createElement('div');
                spinner.classList.add('spinner-border', 'spinner-border-sm', 'ms-2');
                submitButton.appendChild(spinner);
            });

            {% if not update_mode %}
            var sameAddress = "{{ same_address }}" === "True";
            var mailingAddressWrapper = document.getElementById("mailing_address_wrapper");
            var mailingAddressHtml = mailingAddressWrapper.innerHTML;
            mailingAddressWrapper.innerHTML = "";

            var mailingAddressRadios = document.querySelectorAll('input[type=radio][name=mailing_address]');
            if (sameAddress) {
                document.querySelector('input[type=radio][name=mailing_address][value=yes]').checked = true;
            } else {
                document.querySelector('input[type=radio][name=mailing_address][value=no]').checked = true;
            }

            // this call and the one on line 218 will probably cause errors if in update mode
            updateMailingAddressVisibility(mailingAddressHtml);

            mailingAddressRadios.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    updateMailingAddressVisibility(mailingAddressHtml);
                });
            });
            {% endif %}
        });

        {% if not update_mode %}
        function updateMailingAddressVisibility(mailingAddressHtml) {
            var mailingAddressBtn = document.querySelector('input[type=radio][name=mailing_address]:checked').value;
            toggleMailingAddressVisibility(mailingAddressBtn, mailingAddressHtml);
        }

        function toggleMailingAddressVisibility(mailingAddressBtn, mailingAddressHtml) {
            var mailingAddressWrapper = document.getElementById("mailing_address_wrapper");
            if (mailingAddressBtn == 'yes') {
                mailingAddressWrapper.innerHTML = "";
            } else if (mailingAddressBtn == 'no') {
                mailingAddressWrapper.innerHTML = mailingAddressHtml;
            }
        }
        {% endif %} {% endcomment %}
    </script>
{% endblock %}