<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->
{% extends "dashboard/layout_other.html" %}


{% block body %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <br>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>

{% endblock %}