django==3.1.7
sendgrid==6.6.0
django-formwizard~=1.0
django-formtools~=2.2
matplotlib~=3.3.3
mpld3~=0.5.2
usps-api
usaddress~=0.5.10
twilio
django-phonenumber-field[phonenumbers]
django-environ
psycopg2-binary
django-crispy-forms
python-magic
azure-storage-blob==2.1.0
gunicorn
whitenoise
#pytesseract
#tesseract need to system install, not pip install... i think
#poppler need to system install
#pdf2image