{
    "FILENAME": "",
    "SECRET_KEY": "",
    "DB_USER": "",
    "DB_PASS": "",
    "TWILIO_ACCOUNT_SID": "",
    "TWILIO_AUTH_TOKEN": "",
    "TWILIO_NUMBER": "",
    "USPS_SID": "",
    "SENDGRID_API_KEY": "",
    "TEMPLATE_ID": "",
    "TEMPLATE_ID_PW_RESET": "",
    "TEMPLATE_ID_DYNAMIC_EMAIL": "",
    "BLOB_STORE_NAME": "",
    "BLOB_STORE_KEY": "",
    "BLOB_STORE_SUFFIX": "",
    "USER_FILES_CONTAINER": ""
}