{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include "partials/static-imports.html" with title="Get FoCo | Eligibility Programs" %}

<body class="bg-secondary">
    <!-- Page container -->
    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
            <!-- Page content -->
            <div class="col-lg-12 pt-4 pb-2 pb-sm-4">

                <div class="card">
                    <div class="card-body">
                        <form id="eligibility-programs-form" method="post" action="{% url 'app:eligibility_programs' %}"
                            class="needs-validation" novalidate autocomplete="false">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <div class="col-5">
                                    {% include "partials/steps.html" with active_step="eligibility_programs"%}
                                </div>
                                <div class="col-7">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <p class="form-label">
                                                Are you currently enrolled in any of the following programs?
                                                <i class="gi-circle-info" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" title="Choose all that apply">
                                                </i>
                                            </p>
                                            <!-- Element to show error for not selecting any eligibility programs -->
                                            <div class="alert alert-danger d-none" id="eligibility-programs-error">
                                                Please select at least one program.
                                            </div>

                                            {% for program in programs %}
                                            <div class="w-100 mb-2">
                                                <input type="checkbox" class="btn-check" id="{{ program.program_name }}" name="{{ program.program_name }}" value="{{ program.id }}" autocomplete="off">
                                                <label class="btn btn-primary w-100" for="{{ program.program_name }}">{{ program.friendly_name }}</label>
                                            </div>
                                            {% endfor %}

                                            <!-- {% for program in programs %}
                                            <div class="form-check">
                                                <input class="form-check-input" id="{{ program.program_name }}" type="checkbox" name="{{ program.program_name }}" value="{{ program.id }}">
                                                <label class="form-check-label" for="{{ program.program_name }}">
                                                    {{ program.friendly_name }}
                                                </label>
                                            </div>
                                            {% endfor %} -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <a href="{% url 'app:household' %}?app_status=in_progress"
                                    class="btn btn-primary">Back</a>
                                {% if update_mode or renewal_mode %}
                                <button class="btn btn-primary" type="submit">Confirm</button>
                                {% else %}
                                <button class="btn btn-primary" type="submit">
                                    Continue
                                </button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var submitButton = document.querySelector("button[type=submit]");
            submitButton.addEventListener('click', function (e) {
                var spinner = document.createElement('div');
                spinner.classList.add('spinner-border', 'spinner-border-sm', 'ms-2');
                submitButton.appendChild(spinner);
            });
        });

        // Listen for the form submission. If not eligibility programs are selected, prevent the form from submitting.
        // Show the warning message.
        document.getElementById('eligibility-programs-form').addEventListener('submit', function(event) {
            var checkboxes = document.querySelectorAll('.btn-check');
            var checked = Array.prototype.slice.call(checkboxes).some(function(checkbox) {
                return checkbox.checked;
            });

            if (!checked) {
                event.preventDefault();
                document.getElementById('eligibility-programs-error').classList.remove('d-none');

                // Stop the spinner
                var spinner = document.querySelector('.spinner-border');
                if (spinner) {
                    spinner.remove();
                }
            }
        });

        // When the class="btn-check" inputs are click add the btn-success class to the label
        var checkboxes = document.querySelectorAll('.btn-check');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                var label = document.querySelector('label[for="' + checkbox.id + '"]');
                if (checkbox.checked) {
                    label.classList.add('btn-success');

                    // Remove the error message
                    document.getElementById('eligibility-programs-error').classList.add('d-none');
                } else {
                    label.classList.remove('btn-success');
                }
            });
        });
    </script>
</body>

</html>