{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include "partials/static-imports.html" with title="Get FoCo | Finish Application" %}

<body class="bg-secondary">
    <!-- Page container -->
    <div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
        <div class="row pt-sm-2 pt-lg-0">
            <!-- Page content -->
            <div class="col-sm-6 offset-sm-3 pt-4 pb-2 pb-sm-4">

                <div class="card">
                    <div class="card-body text-center">
                        <p class="form-label fs-4 mb-3">We see you have not finished your application.</p>
                        <p class="form-label fs-4 fw-bold mb-3">Would you like to continue from where you left off?</p>
                        <a href="{% url next_page %}" class="btn btn-primary w-100">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

</body>

</html>