<p style="color: #999999">City News</p>

<div>
    <p style="margin-bottom:0;">Getting started with SNAP is a snap!</p>
    <p style="font-weight: 550; margin: 5px 0">The Food Bank Outreach team can also help you sign up for services to help you pay for energy bills (LEAP), WIC, Medicaid, or cash assistance (TANF). Schedule an appointment if you're interested in applying for any of these programs!
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    Call: 1-877-707-8570
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    Or email: <a href="mailto:snap@foodbanklarimer.org">snap@foodbanklarimer.org</a>
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    <a href="https://foodbanklarimer.org/snap-outreach" target="_blank">Click here for more information</a>
    </p>
    <p style="color:#999999;margin-top:0;">May 2023</p>
</div>

<div>
    <p style="margin-bottom:0;">Utilities Assistance Programs</p>
    <p style="font-weight: 550; margin: 5px 0">Fort Collins Utilities partners with the Colorado Low-income Energy Assistance Program (LEAP) to save you money on your utility bill so you can focus on other critical expenses. IQAP is a reduced electric, water and/or wastewater rate that provides 25% off certain components of these services.
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    Call: 970-212-2900
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    Or email: <a href="mailto:utilitiesaffordability@fcgov.com">utilitiesaffordability@fcgov.com</a>
    </p>
    <p style="font-weight: 550; margin: 5px 0">
    <a href="https://www.fcgov.com/utilities/iqap" target="_blank">Click here for more information</a>
    </p>
    <p style="color:#999999;margin-top:0;">October 2025</p>
</div>